[2020-04-25 20:07] jackbayliss opened #1 "test"
test

[2020-05-07 10:06] Kulifloerkus opened #2 "emergency medical vehicle & rescue transport helicopter are not sent"
if a emergency medical vehicle or a rescue transport helicopter is needed, the bot send another  ambulance

[2020-05-07 10:08] jackbayliss commented on #2
@Kulifloerkus What region? DE, UK etc? Also, if possible could you give me the mission name?

[2020-05-07 10:12] Kulifloerkus commented on #2
DE, for example "Stromschlag", "Schlaganfall"
Command cars are not sent too, for example to "Massenpanik in Diskothek"

[2020-05-07 10:16] vossejongk commented on #2
Can confirm, happens in NL version as well

[2020-05-07 10:45] jackbayliss commented on #2
@vossejongk  @Kulifloerkus
The answer is in your missions folder, for example Stromschlag is :
https://www.leitstellenspiel.de/einsaetze/281

This converts into 281.json inside /de/missions :
`{"missionId": "281", "missionName": "Stromschlag", "requirements": [{"requirement": "maximale patientenanzahl", "qty": "1"}]}`

The only way to fix this is to edit that file and we can then push it to the re

[2020-05-07 11:16] Stiker839 commented on #2
I can confirm this is an issue accross all versions of the game, the only way to fix it is a manual edit untill the program can understand the percentage chance that Jack mentioned above.

[2020-05-07 14:30] Kulifloerkus commented on #2
Prisoners are not transported

[2020-05-07 15:18] jackbayliss commented on #2
@Kulifloerkus  If you have issues with prisoners, please create a separate issue. I will need to test it on an account with prisoners.

Closing this issue, as it's known due to the percentages. A fix would be that regardless of the percentage make the unit quantity 1. But, for now I would suggest manually fixing any broken missions and creating a pull request. This will allow for fixes for the com

[2020-05-07 15:18] #2 closed

[2020-05-07 18:16] Kulifloerkus opened #3 "ignore planned missions?"
Is there a way to ignore the onw planned missions?

[2020-05-07 18:19] Kulifloerkus opened #4 "prisoners are not transported"
If there are prisoners in a mission, they are not automatically removed.

[2020-05-07 18:39] jackbayliss commented on #3
You can ignore missions by adding the mission names into the missionignorelist, in the json folder.

[2020-05-07 18:39] jackbayliss commented on #4
I will need to test this

[2020-05-07 18:42] Kulifloerkus commented on #3
Ok, then I have to find out what all the planned missions are called.

[2020-05-07 18:46] jackbayliss commented on #3
What is a planned mission? I.E a mission that's not due yet?

[2020-05-07 18:47] Kulifloerkus commented on #3
![planedMissions](https://user-images.githubusercontent.com/64958878/81332833-f6a07000-90a3-11ea-8908-b08e436a3e10.PNG)

[2020-05-08 10:20] jackbayliss commented on #4
@Kulifloerkus  Prisoners will be working next patch, I will be releasing it within an hour or two 👍

[2020-05-08 10:20] #4 closed

[2020-05-12 12:41] Stiker839 opened #5 "EMS Chief Dispatched When patients above 10 in us version"

[2020-05-12 12:50] jackbayliss commented on #5
You could manually add an EMS chief in the missions that require 10 patients.

[2020-05-14 23:31] jackbayliss commented on #3
Timed missions are now ignored with [0.0.8](https://github.com/jackbayliss/Mission-Chief-Bot/releases/tag/0.0.8)- not sure if that's the same thing. But if not you can enter the mission name in your ignored list.

[2020-05-14 23:31] #3 closed

[2020-05-15 10:53] Lew045 opened #7 "UK version Armed Response not sent to High-Risk Warrant."
It said to either edit the .json file or contact a moderator

[2020-05-15 10:58] jackbayliss commented on #7
I'm presuming the armed response personnel was missing? If possible please attach your file.

[2020-05-15 11:07] Lew045 commented on #7
No I have many Armed Response available. Which file would you like attaching?

[2020-05-15 12:03] Stiker839 commented on #7
We are working on a fix for this, for the time being go to the mission json file and replace the file there with this one :)

https://we.tl/t-xiDSAHvqOV

[2020-05-15 16:38] jackbayliss commented on #7
@Lew045  As above, you'll have to manually update the mission file. But this should be fully fixed in the next patch.

[2020-05-15 16:38] #7 closed

[2020-05-16 20:42] Kulifloerkus opened #9 "No available hospitals."
I guess you don't load all the hospitals? When the first page is full, you have to press the following button to load all:
`<a href="/vehicles/123456789?load_all=true" class="btn btn-default">↓</a>`
![grafik](https://user-images.githubusercontent.com/64958878/82129797-bf2d7400-97c5-11ea-8d34-944b5632c0a8.png)

[2020-05-16 21:48] jackbayliss commented on #9
@Kulifloerkus  I will implement this in the new patch, usually it will say no available hospitals if it's unable to find a green button.

[2020-05-16 21:48] #9 closed

[2020-05-17 16:02] sliwma opened #10 "Releasing patients when hospitals are full."

[2020-05-17 16:12] jackbayliss commented on #10
This will be in the next patch after testing 👍

[2020-05-17 17:41] sliwma opened #11 "Wrong number of needed units when some on scene."
date&time: Generating Missions...
date&time: Building Vehicles...
date&time: X missions found
date&time: Mission Fire in Hospital was not despatched
date&time: qty we have : 27 - qty required 45
And there're about 24 on scene.

Happens both when dispatched manualy and when mission escalates.

[2020-05-21 12:48] Jimbob83 opened #14 "HEMS"
Hi while using the UK version of the game. If a mission requires the HEMS (Medical Helicopter) the bot will keep dispatching Ambulances, but never the HEMS.

[2020-05-21 12:59] jackbayliss commented on #14
@Jimbob83  Unfortunately HEMS is a chance / percetage unit, at the moment the generator ignores anything with a chance purely because we're not sure if it's needed or not each time. For example : [this](https://www.missionchief.co.uk/einsaetze/147)
You'll see the corresponding json is [this](https://github.com/jackbayliss/Mission-Chief-Bot/blob/master/json/region/uk/missions/147.json)

What I'd su

[2020-05-21 13:06] jackbayliss commented on #11
This (hopefully) will be in a later patch, the current version doesn't account for whats there, it just reads the new requirements of the escalated mission and tries to despatch as if nothing was there.  Thanks for using the bot :) 👍

[2020-05-23 10:10] jackbayliss commented on #14
This is fixed with https://github.com/jackbayliss/Mission-Chief-Bot/commit/c1872ed54db3f5bd3e4b15b8b7cd1eeaf92da562

If you get issues with them, just add it into the relevant mission and create a pull request 👍

[2020-05-23 10:10] #14 closed

[2020-05-24 23:22] jackbayliss commented on #10
This is implemented in the upcoming version, closing :)

[2020-05-24 23:22] #10 closed

[2020-05-24 23:23] jackbayliss commented on #5
Closing, as above you can manually add the vehicle into the json file.

[2020-05-24 23:23] #5 closed

[2020-05-28 18:47] jackbayliss commented on #11
@sliwma
This is implemented in the newest version - 0.0.9 onwards.

Any vehicles on scene or on route are deducted from the qty we require, thus- only sending what we need.

[2020-05-28 18:47] #11 closed

[2020-05-28 20:05] Lew045 opened #18 "Armed Units Personnel amount"
For some of the calls the firearms units that are selected by the bot, the bot thinks they have max personnel, which is 3, however, I have set my units to have 2 in each to be a bit more realistic. Would there be an option in the config.ini to set how many officers are in each vehicle so that it will send an extra vehicle or 2 to fill in the personnel required?

[2020-05-28 20:32] jackbayliss commented on #18
Eventually there could be; but this has to be done for each armed response unit for each region  so my answer is it’s WIP and could be for some time due to the amount of regions and vehicle ids. So I’ll need time. The more technical the bot gets the more time I need to invest.

The more feasible answer would be just to edit each mission with the correct value so- if you had 2 per car and it needs

[2020-05-29 11:24] Kulifloerkus opened #19 "load missing vehicles"
Hi, yesterday I paused the time in which missions are generated. So that no more missions come. All missions were processed, except for one. It was always said here that not all vehicles are available. When I got into the mission, I had to click the following button so that I had all vehicles at my disposal. :
![grafik](https://user-images.githubusercontent.com/64958878/83253752-cf722580-a1ad-11ea

[2020-05-29 17:03] #19 closed

[2020-05-29 17:07] jackbayliss commented on #18
For reference :
[code]

would become:

[code]

Closing as it's known, the player just needs to adjust it.

[2020-05-29 17:07] #18 closed

[2020-05-30 08:23] sliwma opened #20 ""ambulances was not found in the links.json - tell a developer""
I've added it, but this showed up earlier in 0.8.

[2020-05-30 12:11] jackbayliss commented on #20
@sliwma
The only thing I can see reference to in the PL missions is ambulanse?  This isn't in the links, but- if you see here :

https://www.operatorratunkowy.pl/einsaetze/180 for some reason the ambulanse shows here which is why it appears in the requirements, the other files dont have reference to it as we usually use Maks. Pacjenci.

I think we can remove ambulanse in the requirements. If we ar

[2020-05-30 12:34] sliwma commented on #20
US version here, one of ARFF missions requires two ambulances.
Wilco, gonna add it later.

sob., 30 maj 2020, 14:12 użytkownik Jack <notifications@github.com> napisał:

[2020-05-30 12:56] jackbayliss commented on #20
Ah ok! Yes I can see reference to ambulances. I'll just need to add it to the links.json. You can either make a pull request or I'll do it a little later.

Thanks again and kind regards.

[2020-05-30 12:56] #20 closed

[2020-06-05 07:59] meyerdominik opened #21 "Newest Version (0.0.9.3) is crashing"
INFO: 06/05/2020 07:07:40 sending mission for despatch
INFO: 06/05/2020 07:07:40 Checking despatch for mission
INFO: 06/05/2020 07:07:41 Exception list index out of range

after that, the Bot just crashed

[2020-06-05 08:16] jackbayliss commented on #21
@meyerdominik  Will be patched at around 5PM GMT 👍

[2020-06-05 11:59] wombatdotcom opened #22 "Emergency doctor is not alarmed"
Many open missions because of that missing vehicle (german name: NEF).

Version: 0.0.9.2
Region: de

Happy to help furthermore.

[2020-06-05 12:05] jackbayliss commented on #22
@wombatdotcom Thanks for creating an issue. When you say it's a 'missing vehicle' you do mean it's not despatching the mission due to the fact you don't have the vehicle? or, it's missing from the mission?

[2020-06-05 12:24] wombatdotcom commented on #22
Almost every rescue operation requires an ambulance and an emergency doctor. The doctor is not despatched even if needed, so the mission is never completed. Vehicles are all available.

[2020-06-05 12:26] jackbayliss commented on #22
@wombatdotcom  This sounds like it's not in the missions JSON- if you can tell me a mission name I can take a look.

[2020-06-05 12:35] wombatdotcom commented on #22
Even in the event of a fire, this is sometimes requested. It's happening occassionally.

Mission ID 124 "Verkehrsunfall" should be a good example. Demand probability for doctor is 50%.

[2020-06-05 18:03] jackbayliss commented on #22
The main issue is because we don't take in the probability units so - for example:
See the JSON we have:
[code]

You can see that the NEF is missing, purely because we have no way to say if it's 100% needed. For now what I would suggest is adding in a NEF to the missions that require them.. Although this isn't a solution, I am hoping to change the core workings of the bot, so that we will be able

[2020-06-05 18:21] jackbayliss commented on #21
Fixed with [0.0.9.4](https://github.com/jackbayliss/Mission-Chief-Bot/releases/tag/0.0.9.4)

[2020-06-05 18:21] #21 closed

[2020-06-06 11:11] wombatdotcom opened #25 "Newest version (0.0.9.4) still crashing"
The bot is restarting itself after 3 missions in a loop.

Version: 0.0.9.4
Region: de

[2020-06-06 11:23] jackbayliss commented on #25
@wombatdotcom  Not experienced any issues with my testing accounts unfortunately. It may be mission related, if you do the mission its crashing on manually it may continue. Alternatively if you email me the login details I can patch it :)

[2020-06-06 12:05] Jimbob83 commented on #25
Alos having issues with it crashing on UK server, running again to try and see if i can find what mission has caused it.

[2020-06-06 12:14] jackbayliss commented on #25
@Jimbob83 Ive had it running on a few accounts with no issues UK wise, if you can provide a login via email i'll check it out :)

[2020-06-06 13:25] jackbayliss commented on #22
Closing as explained above, won't be fixed until we can understand the missing units in the alerts. Or, until you add it manually to the json.

[2020-06-06 13:25] #22 closed

[2020-06-07 06:55] meyerdominik commented on #25
Happens to me in DE too:

INFO: 06/07/2020 08:49:22 500 mission
INFO: 06/07/2020 08:49:22 sending mission for despatch <0>
INFO: 06/07/2020 08:49:22 Checking despatch for mission <0>
INFO: 06/07/2020 08:49:22 Mission <0>meets the requirements- attempting to send.
INFO: 06/07/2020 08:49:22 Attempting to despatch <0>
INFO: 06/07/2020 08:49:23 <0>despatched
INFO: 06/07/2020 08:49:33 476 mission
INFO:

[2020-06-07 09:33] Jimbob83 commented on #25
I would prefer not to share my login TBH, If i send over the debug.txt would this be of any help?

[2020-06-07 10:19] jackbayliss commented on #25
@meyerdominik the issue you're having `Connection aborted.', RemoteDisconnected('Remote end closed connection without response')` is based on the missionchief server closing the response, this could be due to your internet or some kind of anti spam if you've set your limits low.

@Jimbob83 I'm removing the updated changes, and re releasing tonight, as the updates turned out to not be correct i.e w

[2020-06-07 11:44] meyerdominik commented on #25
@jackbayliss the curious thing is, that everything works fine with the verion 0.0.9.2 😄
I'll invesigate further, in the next version 👍

[2020-06-07 11:54] jackbayliss commented on #25
@meyerdominik  It may be related in that case, this will be fixed in the next patch- my apologies for the inconvenience.  - Closing as patched, just need to release.

[2020-06-07 11:54] #25 closed

[2020-06-10 06:23] MC-bot-test opened #27 "Issues & questions"
Hi there
Brand newbie to this, so apologies. Firstly - great work, love the idea of automating the tedious tasks.

I wanted to try a bot to see if I could use it to automate my ARR pressing (didn’t really understand how it worked and I’ll get to that at the bottom) but I found the following things

When tested on AU server -
1 - did not dispatch any Mobile Command Vehicles as per mission requireme

[2020-06-10 07:07] jackbayliss commented on #27
The generator only generates required vehicles, so- if it’s a probability unit it won’t be on the requirements at all. This is probably where it’s not despatching units.

In terms of adding vehicles to missions it’s super easy, inside your json folder- go to region>au>missions. Id recommend downloading Visual Studio Code and opening that folder. You can then search for the mission name and add the

[2020-06-10 08:00] MC-bot-test commented on #27
Thank you for such a quick response.

Not fluent in any form of coding - but I’ll give it a go.

[2020-06-11 00:42] MC-bot-test commented on #27
Sorry to be a pest
- I downloaded Visual Studio Code
- Found a mission that I wanted to add the vehicle to
- opened the links.json file
- couldn’t see the vehicle for ‘connection’ so followed your next instruction
- “find the ID go to /api/vehicles ...”
but have no idea what this refers to. Sorry I’m not sure where I look for this file

[2020-06-11 18:29] Jimbob83 opened #28 "Crashing on version 0.0.9.6"
Hi Jack

Getting an issue with the program crashing, it looks to be an issue with the vehicle type for Armed Response Vehicles (on UK server).

This is what I am getting in the debug file. The program then restarts and same thing happens again.

The Mission No 16534426 was for UNAUTHORIZED POSSESSION OF WEAPONS

Thanks for the regular updates on this, and the fast response to making the changes.

[2020-06-11 18:34] Jimbob83 commented on #28
Hi Jack,

Sorry crashing was my fault, I had copied over my old config.ini file (being lazy) and had not noticed it had been updated in version 0.0.9.6.

The issue of not detecting the Armed Response Vehicle is still there, and it is not dispatching them.

Thanks

Jim

[2020-06-11 20:04] jackbayliss commented on #28
@Jimbob83 The config has indeed updated, but at least you fixed it.

You need to add : ` "armed response personnel" :  [13]`  to your links.json- the issue is the armed response vehicle (ARV) was added manually by players so new missions aren't updated and default to armed response personnel. I will update the json to stop this issue.

[2020-06-11 20:10] Jimbob83 commented on #28
@jackbayliss thanks.

[debug.txt](https://github.com/jackbayliss/Mission-Chief-Bot/files/4767078/debug.txt)

Getting an error now uploaded my debug file. About a read error, also getting on 0.0.9.5 never had this issue before.

[2020-06-11 20:11] jackbayliss commented on #27
@MC-bot-test  When I say go to /api/vehicles. I meant the URL to AU is `https://www.missionchief-australia.com/api/vehicles`.

The links.json you need to add the vehicle you're adding such as "Bike" : [vehicle_type] so, the vehicle type you get from the above URL and then you're then defining a Bike- as such.

[2020-06-11 20:14] jackbayliss commented on #28
@Jimbob83  Yes, it's happening for a few players- it's also happening on the mission chief app. I believe the servers are having issues because of the promotions and what not. It's not related to the bot itself :)

[2020-06-11 20:15] Jimbob83 commented on #28
@jackbayliss spot on, ios app has been rotten for weeks, keeps jumping all over the shop.

[2020-06-11 20:15] #28 closed

[2020-06-12 14:33] MC-bot-test commented on #27
Thank you for your patience. As mentioned, brand new to this.

Here is a links file for the AU server (sorry had to convert to text as wouldn't let me attach a json)
[links au text.txt](https://github.com/jackbayliss/Mission-Chief-Bot/files/4771378/links.au.text.txt)
.

TOG personnel is the biggest constraint. The only workaround I could find relatively simply was to assume all tog vehicles are st

[2020-06-13 14:46] Whitchit opened #30 "Facebook Login"
Hi, How do I get the bot to work with an account that signed up using facebook?

Regards

[2020-06-13 14:49] Whitchit commented on #30
Disregard - add a password to my missionchief account via "Edit Account" and use my facebook email as username!

[2020-06-13 14:49] #30 closed

[2020-06-14 10:12] #27 closed

[2020-06-18 19:55] meyerdominik opened #31 "Bot tries to dispatch vehicles that are not needed, since the amount of that building type is not reached yet"
A simple example is the mission 345 (https://www.leitstellenspiel.de/einsaetze/345) "Höhenrettung am Fahrgeschäft"

Spawn-requirements for the mission are:

Feuerwachen : 	3
Rettungswachen:	1
Polizeiwachen: 	1

Vehicle-requirements for that mission:

Löschfahrzeuge:	2
Drehleitern:		1
ELW 1:			1
Rüstwagen:		1
GW-Höhenrettung:	1
Streifenwagen:	1
RTW	:			1

But certain vehicletype are not needed yet,

[2020-06-18 23:08] jackbayliss commented on #31
I see, my only suggestion for now would be to manually adjust the requirements and remove the vehicles you don't have. This is a simple find and replace, and should take a few seconds at most.

[2020-06-19 07:54] Arciah commented on #31
Ive got problem that no units are dispatched anytime, just check for transport victioms or prisoners every 2 min

[2020-06-19 08:12] Arciah commented on #31
19/06/2020 10:11:20: Sleeping for 36.606787083299125 seconds
19/06/2020 10:11:56: Generating Missions...
19/06/2020 10:11:56: Checking for any ambulance transport requests.
19/06/2020 10:11:56: 0 ambulance transports found
19/06/2020 10:11:56: Checking for any prisoners.
19/06/2020 10:11:56: 0 prisoners found
19/06/2020 10:11:56: Building 55 missions...
19/06/2020 10:11:56: 24 missions found
19/06

[2020-06-19 15:56] jackbayliss commented on #31
@Arciah  Please create a separate thread. As for this issue, you’ll have to manually alter the requirements for what you don’t have.

[2020-06-19 15:56] #31 closed

[2020-06-19 16:06] Arciah opened #32 "New trucks in pl version"
Hi there !

As requestes im creating new topic.

We have 2 type of truck what we are able to buy. One is called GBARt - that is truck what provide 2 possibile jobs, fire engine and technical truck. Also have own group called GBARt.

This truck can response for mission when you require one of those:
"samochody po\u017carnicze": [0, 1],
  "samochody ratownictwa technicznego": [4],

Also we have new

[2020-06-19 16:55] Arciah commented on #32
Yes, correct!

[2020-06-19 16:56] jackbayliss commented on #32
@Arciah  Visit [here](https://www.operatorratunkowy.pl/api/vehicles) and tell me the vehicle_type for Podnośnik hydrauliczny and GBARt

[2020-06-19 16:58] Arciah commented on #32
I found this:

{"id":361774,"caption":"GBARt","building_id":200307,"vehicle_type":12,"fms_real":2,"fms_show":2,"vehicle_type_caption":null},{"id":514322,"caption":"GBARt","building_id":28356,"vehicle_type":12,"fms_real":2,"fms_show":2,"vehicle_type_caption":null},{"id":804739,"caption":"Podnośnik hydrauliczny","building_id":420049,"vehicle_type":13,"fms_real":2,"fms_show":2,"vehicle_type_caption":

[2020-06-19 17:10] jackbayliss commented on #32
@Arciah  OK great, now all you need to do is change the following in the links:
[code]

Let me know if it works - I'll make it live for PL.

[2020-06-19 17:11] Arciah commented on #32
Going to change ill let you know in few min

[2020-06-19 17:11] jackbayliss commented on #32
@Arciah  No rush, just change your links.json to add the new ids

[2020-06-19 17:23] Arciah commented on #32
![image](https://user-images.githubusercontent.com/67099386/85162872-50c75000-b262-11ea-8d75-ed993b4dd400.png)

Not sending any units now

[2020-06-19 17:24] Arciah commented on #32
thats not true, i have everything avaible in base, this is how file looks like:

{
  "samochody po\u017carnicze": [0, 1, 12, 13],
  "samochody oficera operacyjnego": [3],
  "samochody ratownictwa technicznego": [4, 12],
  "cysterny z wod\u0105": [6],
  "sp wysoko\u015bciowe": [2, 13],
  "sp rchem": [7],
  "samochody spgaz": [10],
  "radiowozy": [8, 16],
  "maks. pacjenci": [5],
  "samochody dowodz

[2020-06-19 17:26] Arciah commented on #32
and now something new:
![image](https://user-images.githubusercontent.com/67099386/85163245-d6e39680-b262-11ea-9899-37f1e8255845.png)

[2020-06-19 17:29] jackbayliss commented on #32
@Arciah  For example Wyapdek Motocyklowy :

{"missionId": "103", "missionName": "Wypadek motocyklowy", "requirements": [{"requirement": "samochody po\u017carnicze", "qty": "3"}, {"requirement": "samochody oficera operacyjnego", "qty": "1"}, {"requirement": "radiowozy", "qty": "1"}, {"requirement": "maks. pacjenci", "qty": "2"}]}

You can see it needs 7 units, so you could be missing any particular

[2020-06-19 17:31] Arciah commented on #32
Thing is, now i got everything in base cus its not sending any vehicle now.

This is statistic of my bases:

![image](https://user-images.githubusercontent.com/67099386/85163675-7acd4200-b263-11ea-8766-ea23384c3d71.png)

[2020-06-19 20:55] MC-bot-test commented on #32
Excuse me if I'm incorrect, because I only speak english, but it looks like in your **links** file you have the following

"maks. pacjenci": [5], (in english = max.patient [5] )

when it should be (in english) "ambulance": [5] - I can see "Ambulans P" in your base so I assume it is this one?

See if that helps - apologies if it doesn't.

[2020-06-19 21:05] Arciah commented on #32
Ambulans P - is commun ambulance what carry 2 paramedic, we also have Ambulans S what carry 2 paramedic and doctor, not avaible in game atm

[2020-06-19 21:25] MC-bot-test commented on #32
Yes, so you need to have that in your **links** file as above, **not maks. pacjenci** linked to vehicle type 5

**change** - "maks. pacjenci": [5], - **to**- "Ambulans P"; [5],

[2020-06-19 21:32] Arciah commented on #32
Damn yee you are right going to change and give update

[2020-06-19 21:37] Arciah commented on #32
there is also one more error  "radiowozy": [8], should be radiowóz but i have no clue how to write "ó" in dos language something like po\u017carnicze \u017 = ż

[2020-06-19 21:51] Arciah commented on #32
found this

ó
C/C++/Java source code | "\u00F3"

[2020-06-19 21:52] Arciah commented on #32
After changing this im unable to unload patient

[2020-06-19 21:54] Arciah commented on #32
I changed back to maks.pacjenci found 7 ambulances but im unable to unload due to no hospital, im using hospital in my alliance

[2020-06-19 22:05] MC-bot-test opened #33 "Issue with *some* missions that expand - not ALL"
I was running 0.0.9.6 on AU server with NO problems.

I updated to 0.0.9.7 and have had a couple of crashes. Each time it has been when a mission has expanded. If I get the mission it expands up to originally - no problems, it's only when the mission expands. It does not happen on all missions, and I thought it was isolated to just one, but I just got a second one.

I copied all my mission files o

[2020-06-19 22:08] MC-bot-test commented on #32
Sorry, can't help with that one.

[2020-06-20 13:04] Arciah commented on #32
Now i stuck with

20/06/2020 15:04:02: Sleeping for 3.2682438225780883 seconds
20/06/2020 15:04:05: No available hospitals.
20/06/2020 15:04:05: Attempting to release patient..
20/06/2020 15:04:05: Unable to release patient.

[2020-06-20 13:17] jackbayliss commented on #33
Thanks for the report, I’ll take a look into this and have it patched into the next update. 0.0.9.7 is meant to provide less crashes for the servers experiencing it every time. The debug logs make it easy to see where the issue is so I’ll sort this out soon.

[2020-06-20 13:18] jackbayliss commented on #32
There may have been some code changes causing this issue- I’ll look into it. Also, the links must follow the missions requirements json so - that could be why particular vehicles aren’t working

[2020-06-20 17:29] Arciah commented on #32
[debug.txt](https://github.com/jackbayliss/Mission-Chief-Bot/files/4808278/debug.txt)

New thing, after 10-15 min it switching off no idea why

[2020-06-20 18:31] jackbayliss commented on #33
After looking into it, it doesn't seem to be crashing due to actually expanding- but because of the experimental ambulance ability- this has been patched in my version so will release. Potentially disable it, and the crashing should stop :)

[2020-06-20 18:31] jackbayliss commented on #33
@MC-bot-test  After looking into it, it doesn't seem to be crashing due to actually expanding- but because of the experimental ambulance ability- this has been patched in my version so will release. Potentially disable it, and the crashing should stop :)

[2020-06-20 20:59] jackbayliss commented on #32
@Arciah  Crashing is linked to : [this](https://github.com/jackbayliss/Mission-Chief-Bot/issues/33#issuecomment-647030710) which has been fixed on my version.

As for the PL vehicles, it should be working fine

[2020-06-20 22:18] Arciah commented on #32
# Just show the players missions, ignore alliance- set true if you want to ignore alliance.
show_own = false

i have like this, and its not sending any vehicle to aliance mission, even if they need operation only or operational and 2 police cars, aliance mission stay there forever or until i send unist manualy

[2020-06-21 09:41] jackbayliss commented on #33
Closing, fixed in new version. Will be released soon.

[2020-06-21 09:41] #33 closed

[2020-06-22 20:21] jackbayliss commented on #32
@Arciah  Alliance missions definitely work- it might be that they have units on route. They'll only be loaded in if the mission is red (fresh).

[2020-06-22 20:23] Arciah commented on #32
Got new cars but i need to wait till morning, cus i need police academy, got like swat team and k-9 unit. Ill give you update tomorrow about group and names of vehicles

[2020-06-23 04:24] Arciah commented on #32
{"id":813900,"caption":"Jednostka K-9","building_id":65771,"vehicle_type":16,"fms_real":3,"fms_show":3,"vehicle_type_caption":null}

Thats k-9 unit

[2020-06-23 04:27] Arciah commented on #32
It look like this now, and for me it works

{
  "samochody po\u017carnicze": [0, 1, 12, 13],
  "samochody oficera operacyjnego": [3],
  "samochody ratownictwa technicznego": [4, 12],
  "cysterny z wod\u0105": [6],
  "sp wysoko\u015bciowe": [2, 13],
  "sp rchem": [7],
  "samochody spgaz": [10],
  "radiowozy": [8],
  "Ambulans P": [5],
  "ambulanse": [5],
  "maks. pacjenci": [5],
  "Jednostka K-9":

[2020-06-23 18:20] jackbayliss commented on #32
@Arciah  Make sure the k-9 unit is in the mission requirements.

[2020-06-23 18:26] Arciah commented on #32
Yes its new mission for me, also i have problem on other account. I just made a copy of that main folder just changed account details but on second account bot is not sending anything, i have ervything inside bases and it keep sending msg i have not enought units avaible.  For example fire in building need 3 trucks and leder i have 6 leders in base and about 20+ trucks rdy to dispatch

23/06/2020

[2020-06-23 18:26] Arciah commented on #32
INFO: 06/23/2020 08:20:17 Attempting login
INFO: 06/23/2020 08:20:21 Checking for transport
INFO: 06/23/2020 08:20:21 Checking for ambulance transport
INFO: 06/23/2020 08:20:21 Checking for prisoners
INFO: 06/23/2020 08:20:21 22missions found
INFO: 06/23/2020 08:20:21 Beginning despatch
INFO: 06/23/2020 08:20:22 Checking for transport
INFO: 06/23/2020 08:20:22 Checking for ambulance transport
INFO

[2020-06-23 18:34] jackbayliss commented on #32
@Arciah  These logs don't really help unfortunately,  You have to be missing a vehicle- I would suggest PM'img me on Discord so I can help you properly, as it's difficult to advise from here.

[2020-06-23 19:59] jackbayliss commented on #32
Closing, spoke to @Arciah via Discord to explain how the bot functions. Was missing ambo units.

[2020-06-23 19:59] #32 closed

[2020-06-23 22:28] csBlackWolf opened #34 "Unable to release patients"
The BOT can't automatically release patient when no hospital is available.

Output:

[debug.txt](https://github.com/jackbayliss/Mission-Chief-Bot/files/4822290/debug.txt)

[2020-06-23 23:54] jackbayliss commented on #34
@csBlackWolf  Thanks for the report, this has been fixed- will be patched in the new upcoming release. 👍

[2020-06-23 23:54] #34 closed

[2020-06-25 00:12] HonorAluf opened #35 "Suggestion for EMS units"
Is your feature request related to a problem? Please describe.
I'd like to see the mission list modified or separated to exclude Ambulance needs.

Describe the solution you'd like
I think that adding a separate list just for EMS needs would allow to bot to more smoothly dispatch Ambulances. Something along the lines of sending exact units for the correct number of patients.

"Checking EMS needs"

[2020-06-25 00:15] jackbayliss commented on #35
At the moment the bot only sends the full requirements.

 The upcoming release will have the ability to read missing vehicles etc, so that even if it's not in the requirement it'll be picked up by the bot. This means that ambulances will be removed from the requirements completely and then picked up by the bot when it's actually required. This, in theory should fix your issue.

It'll be out hopefu

[2020-06-25 00:19] jackbayliss commented on #35
As for your ALS/BLS, this should already be possible- if you set the requirement in the links.json of ambulance to be the vehicle_type of ALS and BLS it'll try and send which ever is free. If it's not already set anyway.

[2020-06-26 19:53] sliwma opened #36 "Some errors causing restart."
INFO: 06/26/2020 09:52:21 Exception list index out of range
INFO: 06/26/2020 09:52:21 Traceback (most recent call last):
  File "MissionChiefBot.py", line 64, in getbase
  File "MissionChiefBot.py", line 79, in doActions
  File "MissionChiefBot.py", line 119, in buildMissions
  File "MissionChiefBot.py", line 143, in despatchMissions
  File "MissionChiefBot.py", line 161, in despatchMission
IndexE

[2020-06-26 20:06] jackbayliss commented on #36
@sliwma  This is due to the experimental config option, if you set it to false you won't see this error. Or message me on Discord for the new testing version 👍

[2020-06-26 20:06] #36 closed

[2020-07-04 21:51] Whitchit opened #39 "OTL's not being dispatched despite being in links.json and a mission requirement. (UK)"
So I am having an issue on the UK server where Operational Team Leaders (api/vehicles:20) are not being dispatched by the bot even though they are included in links.json and a mission requirement in missions 148.json and 149.json and I am unsure how to go about rectifying this?

[2020-07-05 19:30] jackbayliss commented on #39
@Whitchit  Operational Team Leaders are a chance vehicle, as far as i'm aware. This means, as such they're not sent as a requirement. You'll have to manually add Operational Team Leader to each of the missions json. This issue doesn't exist in the new version- which should be out soon.

[2020-07-07 17:04] ni7roXX opened #40 "Improvement - Specific Mission Farm"
Hello,

I was thinking if this could be implemented, based on the fact that the bot already knows what amount of cars is needed for a mission,  I presume that it knows what amount of cash it produces. Thus, I think that it could be nice to have a specific mission farm or above X amount credits to farm.

For example, if a mission gives more than 4k bot to ignore the mission and pass to another.

Th

[2020-07-07 17:49] jackbayliss commented on #40
Hi Ni7ro,

Yes- it’s possible. I think first of all it would be nice to implement the credit amount per mission. So that we can feed back some information for example amount of credits earned etc. In order for the bot to ignore a mission over a certain credit limit there would have to be some kind of config option as to what the limit is.

[2020-07-07 17:59] ni7roXX commented on #40
"In order for the bot to ignore a mission over a certain credit limit there would have to be some kind of config option as to what the limit is."

Yup ! i thought of this as well, wanted to reply or edit the thread, and in the config to set a threshold, Ignore missions > than 4k for example.

Thank you !

[2020-07-08 01:08] jackbayliss commented on #39
Closing due to release of [0.0.9.8](https://github.com/jackbayliss/Mission-Chief-Bot/releases/tag/0.0.9.8) which will rectify this issue.

[2020-07-08 01:11] jackbayliss commented on #35
[0.0.9.8](https://github.com/jackbayliss/Mission-Chief-Bot/releases/tag/0.0.9.8) has been released, please see if this aids your issue.
Missing vehicles should be picked up.

As for your more detailed logging, that's my next thing to do as long as this release is smooth.

[2020-07-08 20:13] Whitchit commented on #39
This issue has not been resolved, despite downloading and using the latest version mission number 129 is not dispatching OTLs despite it being a mission requirement.

This version has also broken hospital transports as it is now stating all hospitals are full (they are not in reality anywhere near full capacity or too far away).

[2020-07-08 20:19] jackbayliss commented on #39
@Whitchit  Fairly sure it does get despatched, just not with the rest of the vehicles. So, what happens is at first it'll send the known requirements but on the second iteration of the mission (when it turns red) it'll pick up the missing units and send those.

As for the hospital transports, it's the same as 0.0.9.7- if the server response has issues it'll crash the patient transport- thus in the

[2020-07-08 20:20] Whitchit commented on #39
So if the bot thinks it has nothing to transport why does it say hospitals are full?

[2020-07-08 20:23] jackbayliss commented on #39
@Whitchit  Sorry, I worded it wrong. It's because it can't find the element on the page- i.e it can't see available hospitals. Then, because of this it thinks all the hospitals are full releasing the patient.

[2020-07-08 20:34] Whitchit commented on #39
Gotcha, thanks for clarifying

[2020-07-08 20:34] #39 closed

[2020-07-08 21:03] jackbayliss commented on #39
For reference, I've not had any issue transporting: ![image](https://user-images.githubusercontent.com/13621738/86970134-cbe79c00-c166-11ea-8419-17ba0cd23204.png)

[2020-07-08 22:21] olle12 opened #41 "Problem in Portuguese server"
Hello, the new update is out of date on the Portuguese server.
The vehicles have changed their name and the bot does not recognize it.

If I could see I would appreciate it.

Thanks for listening.

Best regards, olle12

[2020-07-08 22:52] jackbayliss commented on #41
Hi @olle12  - let me know which vehicles aren't working and I can take a look. It may be better to message me on Discord- as that way I can ask for ids if there's some missing.

[2020-07-08 23:20] olle12 commented on #41
Hello
The names that have changed form these: ´
viatura de batalhão - veículo de comando
Caminhão de Bombeiros -  Veículo de Combate a Incêndios
Veículo plataforma - Veículo escada
Veículos de resgate pesado - veiculo de desencarceramento
caminhao pipa - Veiculo Tanque
Veiculo de produtos prigosos - Veículos de Matérias Perigosas

[2020-07-08 23:34] jackbayliss commented on #41
@olle12  As far I'm aware the bot still works, the bot reads the missing vehicles and requirements are read as is- so as long as you match them in the links.json and missing.json it should work.

[2020-07-09 00:03] olle12 commented on #41
Hello, the error that appears is a specific vehicle:
hazardous materials vehicles was not found at links.json - add it or inform the developer

[2020-07-09 00:06] jackbayliss commented on #41
@olle12  Ah, I see. This is not an error as such- but it's telling you to add that particular vehicle to the links.json
so- in this case you'd add "hazardous materials vehicles" : [vehicle_id] to the links.json. Replace `vehicle_id` with the id type of the vehicle.

You may see a few of these, as I don't have a big enough account to test each region :)

[2020-07-09 00:12] olle12 commented on #41
Ok I'll try to do as you told me

[2020-07-09 08:00] #41 closed

[2020-07-12 23:29] #35 closed

[2020-07-14 08:23] Papanikolis9 opened #42 "Unable to Dispatch Missions."
- Bot Version: 0.0.9.8.1
- Server: US
- Edited Files (except config): none
- Config. specs:
show_own = true
ambulancesreal = false (also checked with true and had the same results)

- As you can see in these next two missions the bot is unable to send dispatches.

- Currently I checked it in "Residential Fire mission", "Road Accident mission","Earthquake missions".

- There are plenty enough (Fire

[2020-07-14 18:33] jackbayliss commented on #42
@Papanikolis9  It's hard to say for sure, but I think it's missing a 'missing' unit. It should dump only the units it's missing but you may need to play around with it as I haven't touched it for awhile.  Maybe try let it try and re-send the mission when it re-attempts the failed list. If it keeps failing i'd
1. Check the missions json and make sure you're not missing any of the units (the units m

[2020-07-14 19:07] Papanikolis9 commented on #42
Thank you for your answer Jack,
Let me tell you what i tried and also had the same error.

First of all i had an error about some **missing vehicles** and i added the following.
- In **Links & Missing** files I added

1. "firetrucks" : [0, 1, 30, 13, 18],
    "firetruck" : [0, 1, 30, 13, 18],

2. "battalion chief vehicles": [3,12],
    "battalion chief unit": [3,12],
    "battalion chief units": [

[2020-07-14 19:25] jackbayliss commented on #42
@Papanikolis9  You will need to add things to the missing.json at times, as I haven't got all of vehicles which it may flag up. If it's failing to send it may be because of the vehicle ID's  or that in fact something just isn't available. I would suggest maybe buying a few ambulances etc just in case its because of them.  I would say generally looking you need more ambulances at least :)

[2020-07-14 19:31] Papanikolis9 commented on #42
It's ok Jack.

Currently I had more than 20 available ambulances. And I can assure that they are plenty enough for the missions. Anyway I will try to get more than these and check it again. I will send you the results in discord.

Thanks again about your effort. Waiting for this bot features or any other projects. ❤️

[2020-07-14 21:48] jackbayliss commented on #42
@Papanikolis9  OK, well for now I'll close this issue. it seems that it's not an issue with the bot, but you're missing a vehicle of some sort.

[2020-07-14 21:48] #42 closed

[2020-07-17 11:28] Papanikolis9 opened #43 "Enable/Disable Transport to Alliance Buildings"
- I believe that the option to edit the config file and select if you want to use the Hospitals or the Cells of your alliance, would be perfect. It will make the decision and avoid sending your patients or prisoners in Alliance buildings.

- Also the perfect scenario would be if you could select how many prisoners or patients you want to send to your alliance and after that number, they will "leav

[2020-07-17 16:42] jackbayliss commented on #43
@Papanikolis9 The idea of whether to transport to alliance or not is a good idea to have in the config. But, we'd need to know which hospitals were alliance owned etc. so, I'd need to look if we can get that from the game.

That being said I'm not very motivated to add new features at the moment with how stable the current version is. I may add a few additions at a later date and release it as a '

[2020-07-17 16:42] #43 closed

[2020-07-22 18:58] #40 closed

[2020-08-03 16:52] ni7roXX opened #44 "[improvement] Ignore player missions in order to focus on Alliance missions"
Hello,

Thought to mentioned a new possible improvement here in order to be planned if possible for a future release.

Now that we have mission ignore for player missions, i`m thinking that an ignore all player missions and close only alliance missions would be a nice upgrade.

In config this should be an easy set as true, no need to have the same behavior as the skip specific missions on the play

[2020-08-03 18:03] jackbayliss commented on #44
This will be implemented next patch! I’m currently on Holiday, but as soon as I’m back I’ll be working on the new version: :)

[2020-08-03 18:45] ni7roXX commented on #44
Top ! thank you, enjoy the Holiday
     On Monday, August 3, 2020, 11:03:55 AM PDT, Jack <notifications@github.com> wrote:

This will be implemented next patch! I’m currently on Holiday, but as soon as I’m back I’ll be working on the new version: :)

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-08-04 19:23] Esxb opened #45 "Generate.Py[ISSUE]"
When running the command "python3 generate.py" it spills the code and provides a error message. (FREE Version)

[2020-08-04 20:17] jackbayliss commented on #45
@Esxb  Apologies for the issue! I'll try and have this fixed once I'm back from Holiday

[2020-08-05 17:28] jackbayliss commented on #44
@ni7roXX  This is done my side, will be in next patch :)

[2020-08-08 09:39] Esxb commented on #45
Not an issue bud, enjoy the holiday!!!

[2020-08-08 12:53] jackbayliss commented on #45
@Esxb  Hi mate, apologies for the delay. I had a quick look-  at the moment I need to create a new branch for the free version as I can't edit previous commits etc.

What I would suggest is download the paid version then the generate.py will work fine then. You'll then need to go back and copy any new missions into a folder of the free one perhaps. Not exactly a fix, but I'll need to do something

[2020-08-08 12:53] #45 closed

[2020-08-08 16:24] jackbayliss commented on #44
Live with version 1.1 👍

[2020-08-08 16:24] #44 closed

[2020-08-11 23:00] Whitchit opened #46 "[ISSUE]*Could not log you in, perhaps server is F*cked*"
The bot is no longer logging me in. This has been an issue now for over 2 weeks. No account details have changed.

The bot should log me in but it isn't working

Tried on latest free and sponsored versions.

[2020-08-11 23:04] jackbayliss commented on #46
@Whitchit  I haven't had any reports! I'd double check your config and ensure the user password and region is correct 👍

[2020-08-11 23:07] jackbayliss commented on #46
Just to clarify, I've double checked on a test account and it seems OK see the image below:
![image](https://user-images.githubusercontent.com/13621738/89957588-b49d4200-dc2f-11ea-9bc2-371be63485b9.png)

[2020-08-11 23:19] Whitchit commented on #46
Update: The bot tried and failed 30 times to log me in when I left it to run. 31st time was sucessful. Any idea what is causing that?

[2020-08-11 23:21] jackbayliss commented on #46
@Whitchit  It's definitely unusual and I've not heard of it before, it could be down to your broadband connection. I would recommend giving it a cool off period for a little while (Give it a couple hours). Out of interest which region are you using? and device?

[2020-08-11 23:34] Whitchit commented on #46
UK, Windows 10 Laptop, 50Ghz Average connection speed via ethernet Cat 7+

[2020-08-11 23:39] jackbayliss commented on #46
@Whitchit Are you using hard wired Ethernet cable or Wi-Fi? Do you have a firewall etc?

There could be a number of things affecting it, but nothing has changed in terms of the bot.

Perhaps try making a different account and seeing if that logs in too.

I've only seen this kind of thing happen because of a bandwidth restriction- but if you're using a residential network I doubt that would be the

[2020-08-11 23:42] Whitchit commented on #46
I mean the firewall pops up when i start a new version of the bot for the first time, but otherwise does not restrict it. I've not got any  bandwidth restrictions and same issue occurs on my mobile data and neighbour's wifi (with permission)

[2020-08-11 23:50] jackbayliss commented on #46
@Whitchit Has this only started occurring recently? Or; has it been like it for awhile? Only thing left is to try a different login and see if that works

[2020-08-11 23:52] Whitchit commented on #46
Last few weeks it's been an issue, maybe just over a fortnight ago? I've got 2 other accounts, and the bot has the same issue with them as well. Also tried AU and US servers

[2020-08-11 23:56] jackbayliss commented on #46
@Whitchit its awfully strange, are they big accounts that you're using?

I've had 0 reports of any issues logging in which makes me confused; the only other thing you can try is using aws free tier to rule it out being anything computer related.

[2020-08-12 00:02] Whitchit commented on #46
Not sure what aws free tier is - and my UK account is pretty big to be fair

[2020-08-12 00:22] Whitchit commented on #46
restarted the bot and it worked first time, I know intermittent issues are very hard to diagnose and since it's working again after a restart I'll close this thread for now, pending further issues :)

[2020-08-12 00:22] #46 closed

[2020-08-15 04:31] BigBearEvo commented on #46
Sounds odd but the larger the account the more the bot has to work for some reason, I've increased my size in game station wise considerably and its casing mine to not log in first 2-3 times but I've also had recent issues with firewall and Antivirus updates from windows. My US account works perfect, but the UK is still laggy as hell. but it is getting better though.

[2020-08-15 08:31] jackbayliss commented on #46
@BigBearEvo Yeah; it's strange- but usually it only takes 3 tries to login rather than completely not logging in at all. I don't think it's an issue as I know there's huge accounts using the bot- but I think this was an isolated incident.

[2020-09-02 13:31] Kulifloerkus opened #48 "crashing issue related to some missing vehicles"
Hi,

0.0.9.8.1 is crashing by reading the missing vehicles:

![Unbenannt](https://user-images.githubusercontent.com/64958878/91989829-47ae3100-ed31-11ea-880c-e7df1b155f6a.PNG)
"Schlauchwagen (GW-L2 Wasser, SW 1000, SW 2000 oder Ähnliches)" is one vehicle. The bot reads a vehicle 1000 and will send it SW-times, but SW is not a number and the bot is crashing.

[2020-09-02 16:23] jackbayliss commented on #48
@Kulifloerkus You're correct. This is an issue that's only affecting DE for this select vehicle. Unfortunately the code base for the bot is at premium level so I'm doubtful it'll be fixed for the free version. As I'll have to revert all the changes haha (my bad). I need to work on this for the premium version so I'll need a DE tester for this issue. It's purely with how this particular vehicle is

[2020-09-02 20:42] Kulifloerkus commented on #48
I can test this for you.

[2020-09-02 21:46] jackbayliss commented on #48
Sure, happy for you to test it- will need you to try and get that vehicle - "Schlauchwagen (GW-L2 Wasser, SW 1000, SW 2000 oder Ähnliches)" if possible- I'll have to manually fix this vehicle 👍🏻

[2020-09-02 21:49] Kulifloerkus commented on #48
no problem, I have the vehicle and I can generate the error with a little time

[2020-09-02 22:20] jackbayliss commented on #48
Sweet, message me on Discord and we'll get the ball rolling.

[2020-09-17 19:23] meyerdominik opened #52 "Patient missing text is not splitted by ", ""
**Describe the bug**
Patient missing text is not splitted by ", "

**Expected behaviour**
The Vehicles rtw and nef from the missing.json should be dispatched

**Screenshots**
[Screenshot](https://prnt.sc/uj3rdl)

**Bot version and region**
Current version on de servers

[2020-09-17 19:33] meyerdominik opened #53 "Normal missing text is not finding a single vehicle"
**Describe the bug**
Bot found the missing text but was not able to just dispatch the one vehicle? It tries to send the full requirements!

**Expected behaviour**
Dispatch the one elw 1

**Screenshots**
[Screenshot](https://prnt.sc/uj3wou)

** Bot version and region **
Current version on de servers

[2020-09-17 20:13] jackbayliss commented on #52
I'll get working on patching this and send you a test.

[2020-09-17 20:30] jackbayliss commented on #53
It's only trying to resend two vehicles, hence the two sleeps. I think again, this particular missing text is confusing it.

[2020-09-18 05:15] meyerdominik commented on #53
Can I do something to fix this or is that entirely on your side @jackbayliss ?

[2020-09-18 09:24] jackbayliss commented on #53
@meyerdominik  I'll have to send you a debug version for DE so we can see

[2020-09-23 18:31] jackbayliss commented on #48
I believe this is fixed with the newest patch- give it a try and let me know 💯

[2020-09-23 18:31] #48 closed

[2020-09-29 00:38] Sketchy28 opened #58 "Missing vehicle"
The system doesn’t send vehicles to .au missions burning machine or monoxide poisoning.
I thought I saw these missions in code.
Comes up as missing vehicle and says add it to missing .json. Can you explain how to add.
Australian server

[2020-09-29 06:41] jackbayliss commented on #58
Post a screenshot of the red text, it’s easier to explain it that way :)

[2020-09-29 20:58] jackbayliss commented on #58
@Sketchy28

[2020-10-01 22:37] MC-bot-test commented on #58
The only unit that is common to both is the Rescue one

Make sure both your au links.json and missing.json contain the following lines

"major rescue vehicle": [4],
"rescue": [4],

[2020-10-02 00:22] Sketchy28 commented on #58
Thanks mat

Sent from my iPhone

[2020-10-02 07:54] jackbayliss commented on #58
Closing thanks @MC-bot-test

[2020-10-02 07:54] #58 closed

[2020-10-06 23:01] Fogest opened #59 "Free version gone?"
Hey, the links on your projects to the free version don't seem to work and it seems to be because the tagged free version no longer exists. Is there a reason for this?

[2020-10-06 23:29] jackbayliss commented on #59
@Fogest
The free version was removed purely to stop abuse, it had over 1k downloads and had no way of being monitored etc. Which entails heavy usage on the mission chief servers. A lot of communities were complaining about botters etc. So, to stop any unwanted attention from the devs I decided to make it a premium, at the rate of $1 a month, therefore making it a smaller user amount and keeping it

[2020-10-07 02:19] Fogest commented on #59
I guess I can respect that decision though I think the documentation should be updated to reflect there is no longer a free version as there were quite a few places that link to the free download which is now a 404.

[2020-10-07 10:28] JoshuaBilboe96 opened #60 "bot sending Ambulances to mission where is already done was awaiting for other user to send their patient"
I noticed that the bot sending Ambulances to mission where is already done was awaiting for other user to send their patient to the hospital
is there any way to fix this issue?

[2020-10-07 10:44] JoshuaBilboe96 commented on #60
i have attached the screenshot to show you what i mean :)

![Screenshot_6](https://user-images.githubusercontent.com/47194625/95321055-62c11300-0892-11eb-8071-8ce6d22a7b05.png)

[2020-10-07 19:07] jackbayliss commented on #59
No problem, I need to edit the README to be honest 💯

[2020-10-07 19:07] #59 closed

[2020-10-07 19:09] jackbayliss commented on #60
You can disable alliance missions, I believe this is because it's an alliance mission- perhaps add the name / id to your ignore list.

[2020-10-07 20:01] Fogest commented on #59
Haha I feel like documentation is always an area that slips for me. As a side note I sent you an email :)

[2020-10-07 20:11] jackbayliss commented on #59
@Fogest  Responded :)

[2020-10-07 20:14] Stiker839 opened #61 "[ISSUE] DE Links and Missing fix"
**Describe the bug**
Some units are missing from the DE version and lead to some missions being stuck.

** Bot version and region **
Please let us know which region, and which bot version you're using.

Sponsor and DE

**Additional context**
N/A

[2020-10-07 20:15] Fogest commented on #59
@jackbayliss Ah I see, Gmail got a bit overzealous and sent your replies to my spam folder. Quite odd that it went to my spam folder despite me having originally emailed you first.

![image](https://user-images.githubusercontent.com/1163628/95382828-3e782d00-08b8-11eb-9148-8b7232ffefe5.png)

[2020-10-07 20:30] jackbayliss commented on #61
They'll need to be added by a DE user, then should work?

[2020-10-09 08:52] JoshuaBilboe96 commented on #60
yes you are right its only on alliance missions but they get alot more money than own missons where no one else can see and how i can see my ignore list?

[2020-10-10 10:21] #60 closed

[2020-10-10 10:22] JoshuaBilboe96 opened #62 "[ISSUE]"
The bot closed atomically?
this what i found on debug
During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "MissionChiefBot.py", line 624, in <module>
  File "MissionChiefBot.py", line 50, in __init__
  File "MissionChiefBot.py", line 92, in getbase
  File "MissionChiefBot.py", line 50, in __init__
  File "MissionChiefBot.py", line 89, in g

[2020-10-10 10:29] JoshuaBilboe96 commented on #62
Sorry Solved it
Delete laststarted.json in the json folder fixed the issue

[2020-10-10 10:29] #62 closed

[2020-10-12 00:27] Fogest opened #63 "[ISSUE] Bot Failing to Hire Staff now"
**Describe the bug**
Originally having the hire staff flag set to `true` had no issues and staff were being hired for 3 days in each building. Now however that has stopped working for me causing the script to crash when I start it up. The fix is to just disable the hiring of staff automatically, but obviously that is not ideal.

**Expected behaviour**
Staff are hired for 3 days at all buildings. I

[2020-10-12 00:34] jackbayliss commented on #63
Correct, the issue is because the bot is appending a new date at the end of the laststarted.json in the json folder. To fix it, simply delete the file- or set hire_staff to false. Will be fixed with the next update 👍🏻

[2020-10-12 00:34] #63 closed

[2020-10-12 00:37] Fogest commented on #63
Appreciate the quick response, thanks!

[2020-10-12 16:35] Fogest opened #64 "[ISSUE] "We need Ambulance" doesn't get dispatched"
**Describe the bug**
When there is a "We need: ambulance" it often does not get dispatched. If you take a look at the screenshot this is an example of what built up overnight. None of those calls have an ambulance assigned to them. And looking at the console output I keep seeing two lines in a row saying "Found missing ambulance" yet nothing happens when it finds them. At the time of writing this

[2020-10-12 16:38] Fogest commented on #64
Just to add on, some of those calls are requesting things like the 2 firetrucks, and 1 battalion chief as well as an ambulance and none of those resources are sent. However normally units would be sent, however it seems like sometimes it glitches especially when ambulances are involved and doesn't send anyone.

[2020-10-12 17:06] jackbayliss commented on #64
Strange for sure- do you have auto share enabled at all in the config? Have you tried re-running the bot ?

[2020-10-12 18:30] Fogest commented on #64
Nope, I am in an alliance on my own so I don't share my missions. Re-running doesn't seem to pick them up. It seems to relate to ambulances typically where I see it stop working. If the mission type changes and requires an ambulance they should normally get sent. But if they are on scene and it changes to "We need: Ambulance" then it doesn't send even though the bot seems to pick up that it is mis

[2020-10-14 06:18] lalain62 opened #65 "helicopter missing"

[2020-10-14 06:21] #65 closed

[2020-10-14 21:56] Fogest commented on #64
Just to add on, I also am often seeing "Reported fraud" mission not get any units sent to it. That mission is just 1 x Police Car nothing special happens on it. I have included a screenshot below. I had to manually dispatch all of the ambulances and police in these missions. These all made my mission list "stuck" as I could get no more missions until I manually tended to all these and manually sen

[2020-10-15 15:21] BigBearEvo commented on #64
might want to try adding this into the missing file, it might solve your problem

"ambulance" : [5, 27],

[2020-10-15 16:14] Fogest commented on #64
That seems to already be in there. Also the reported Fraud one works sometimes, just not all the time. The ambulance one is similar in that sometimes it does work and an ambulance gets found being needed and gets sent.

![image](https://user-images.githubusercontent.com/1163628/96157159-f1134580-0edf-11eb-8b74-0880eb9647d8.png)

[2020-10-15 22:03] MC-bot-test commented on #64
Try

"ambulance" : [5, 11, 27],

and see if that fixes it

On 16/10/2020 3:14 am, Justin wrote:

[2020-10-15 23:46] Fogest commented on #64
Hmm, that may fix the industrial fire ones I am not sure. Haven't tried long enough to see yet if any problems happen on the other calls. I know the industrial one is also failing because MissionChief is going by the mission requirements, but I don't have some of the vehicles required and it works without them.

![image](https://user-images.githubusercontent.com/1163628/96197034-e4faa880-0f1e-11eb

[2020-10-16 00:10] MC-bot-test commented on #64
Agreed,
That is a quirk I have encountered too. You have to amend the individual
mission json files until you get the units, then change them back.

MC will complete a mission without what csn be best described as 'optional'
requirements (as long as you don't have them enabled). The second you
unlock the 'optional' vehicles, the same mission will then not complete
without the optional vehicles.

T

[2020-10-16 00:35] Fogest commented on #64
Okay I have updated the mission file for it and will see if that helps then.

[2020-10-16 15:24] Fogest commented on #64
It is still getting stuck almost identical to how that first image in the OP looks like even after making the suggested changes and restarting the bot. What is odd is that after making the changes it did start sending people to the Industrial Fire, however when the call initially comes in as another call and then changes to another is when it seems to break.

In my queue I currently have 2 roof fi

[2020-10-16 15:27] Fogest commented on #64
Hmm, just to add on, I think I am seeming what part of the problem is. It seems like these roof incidents both required Battalion Chiefs, but then they both required an additional one when they switched to a different call type. Unfortunately other calls already also had battalion chiefs so it left the game in a state where there are no more BC's, but most calls needs one more so it is stuck. I gu

[2020-10-16 20:20] jackbayliss commented on #64
Thanks all for letting me know, this is just part of the whole eco-system of the bot. Everything can be changed if required, hence why the mission files are JSON. The idea is that the links.json serves the missions and the missing.json serves the missing vehicles found. Vehicles need to be status 1 or 2 to get despatched, and the whole requirements have to be met in terms of vehicles. If you have

[2020-10-16 20:45] Fogest commented on #64
My main issue is ones like "Reported Fraud" that can end up getting
dispatched only half of the time. So I know the missions json is correct as
it does work sometimes. It can go all night without dispatching it. I'll go
check and I'll have multiple units available to respond. And then in the
bots logs I believe it just doesn't pick up that the mission even is seen

On Fri., Oct. 16, 2020, 4:20 p.m

[2020-10-18 07:32] squoll opened #66 "[ISSUE] Bot shutting down with auto_hire sets to true"
**Describe the bug**
Bot is shutting down when you set in config.ini auto_hire to true after 3 days. If you set it to off than bot runs as usual.

**Screenshots**
![s](https://user-images.githubusercontent.com/9107509/96361220-97ec2180-112c-11eb-8ac8-a76550ee83fc.PNG)

# Bot version and region

0.1.4
**Region**: *ru*

**Debug File**
[debug.txt](https://github.com/jackbayliss/Mission-Chief-Bot/file

[2020-10-18 09:53] jackbayliss commented on #66
Is there a laststarted.json in your json folder? If so try and remove it.

[2020-10-19 02:16] Fogest commented on #66
This looks like the same problem I reported in #63 . Deleting the file mentioned does fix the problem temporarily though it does seem to recur at a later date. So that fix mentioned over on that issue will be helpful still :)

[2020-10-19 02:35] Fogest opened #67 "[Feature Suggestion] Remote Stations for High Credit Alliance Missions - (support for it)"
Hello,

I would like to suggest a feature to help with alliance credit boosting. When in an alliance you may not be close to the "busy" areas. However what can be done is you can create a single station there and have it respond to high credit calls just to tag in on the payout and provide a few units.

The problem I am facing is that due to it being a station it means I get the odd call generatin

[2020-10-19 05:04] BigBearEvo commented on #67
Hey Justin, I have tired your idea of solo stations and many others have as
well, and they simply do not work. It will end up costing you a fortune to
maintain in the long run, regardless if using a bot or not. The only
solution is using helis police or medical and flying in!. The bigger you
grow in game helps cut travel time down too.
Jus thought I'd share that advice with you

On Mon, 19 Oct 202

[2020-10-19 09:55] jackbayliss commented on #66
@squoll  As fogest mentioned, this is a known issue- will hopefully be patched next release. Just need to get round to it!

Feel free to re-open if it's not fixed.

[2020-10-19 09:55] #66 closed

[2020-10-19 09:56] jackbayliss commented on #64
If it's not picking up the mission, you may have to re-generate the new missions. Let me know if it helps etc. As I've not had any other reports.

[2020-10-24 14:02] jackbayliss commented on #61
Closing as no response, ask in the Discord if it still happens.

[2020-10-24 14:02] #61 closed

[2020-10-24 16:20] jackbayliss commented on #52
This is fixed as of today! Sorry for the delay- will be in the next upcoming release.

[2020-10-24 16:20] #52 closed

[2020-10-24 16:35] jackbayliss commented on #53
Not able to replicate it on my side yet! Have a DE user trying to replicate the text.

[2020-10-25 21:43] jackbayliss commented on #64
Closing this as it seems the fix was to update the missions.json, feel free to reopen if it's not fixed 👍🏻

[2020-10-25 21:43] #64 closed

[2020-10-25 21:48] jackbayliss commented on #53
@meyerdominik  Can you test the newest version? I believe this should be fixed. Feel free to re-open if it's not- sorry it took so long! 👍🏻

[2020-10-25 21:48] Fogest commented on #64
The regenerating may have helped a bit. Editing the various json files also may have helped a bit. What also has been helping is that I have progressed more in the game and have more unit types available. As such the problem seems to be less of an issue now.

[2020-10-25 22:06] jackbayliss commented on #64
@Fogest Good to know! I guess if you don't have a particular vehicle you could always add it into the vehicleignorelist.json - I'm glad its fixed for you anyway 👍🏻

[2020-10-25 22:22] Fogest commented on #64
On the old version I was able to fix the problem partially also by having it share those missions with the alliance that way it would still dispatch them. A problem I noticed though is that it would keep re-dispatching more units to the call despite all those types of vehicles requirements already being met. I will have to see if this is a problem in the new version or not. I had disabled alliance

[2020-10-25 23:34] Fogest opened #68 "[Feature] Respect Dispatch Center max alliance mission distance"
Hello,

I have a rather small radius set in my dispatch center for alliance missions. It is only at 50 km. When I look at my list on MC I only have at most a few alliance missions I typically see. However the bot seems to see a different set and will be going through many more than these few missions and dispatching units to places farther than 50km.

If if cannot read from the dispatch center to

[2020-10-25 23:38] jackbayliss commented on #68
This is something I'd have to look at- the bot technically doesn't read from a despatch centre as it uses "other methods" in order to read the mission data. If I can find a way to limit it I'll definitely implement this. Leave it with me, I'll need to investigate :)

[2020-10-25 23:43] Fogest opened #69 "[Bug] Bot keeps redispatching more units to shared missions despite already fulfilling the requirements"
**Describe the bug**
Even though the mission has been shared, the bot still comes back and checks on the mission and will dispatch again units that have requirements already met. For example look in the screenshot. You will see this mission requires 2 police cars and 1 sheriff. I currently have 0 sheriffs finished training and as such I need an alliance mate to come help with this mission. However

[2020-10-25 23:44] Fogest commented on #69
I got a special issue number 🥇

[2020-10-25 23:47] Fogest commented on #68
Awesome, thanks :). Especially as a newer player it is hard to have units that are gone for hours as some types of unit I only have a few of so far.

[2020-10-27 06:25] meyerdominik commented on #53
@jackbayliss Doesn't work :/ See [Screenshot](http://prntscr.com/v7moi3)

Version 0.1.5
Nothing gets dispatched even though it said so

[2020-10-27 07:37] meyerdominik commented on #52
Works! See [Screenshot](http://prntscr.com/v7o52l)

Ty @jackbayliss

[2020-10-27 07:39] jackbayliss commented on #53
Looks like it found two, hence the two sleeps!

If you can replicate this one I can fix it :)

Sent from my iPhone

[2020-10-27 08:58] jackbayliss commented on #69
Yeah- this definitely shouldn't happen. I believe it's because it effectively keeps sharing the mission. One way I can fix this is simply-- if the mission is shared, don't touch it again.

[2020-10-27 09:15] meyerdominik commented on #53
Yes I can replicate it. Let's chat this evening via discord. I'll prepare a mission for you and you can check 👍

[2020-10-27 14:35] Fogest commented on #69
Yeah that would be awesome if it didn't keep getting re-shared and re-dispatched <3

[2020-10-29 18:28] saulworthy opened #70 "[Bug] Start up bug on new bot."
Launching the bot after updating. attempts to generate missions and hire staff. bot does not complete task and spits out this error code:

--- Logging error ---
Traceback (most recent call last):
  File "MissionChiefBot.py", line 90, in getbase
  File "MissionChiefBot.py", line 104, in doActions
  File "MissionChiefBot.py", line 634, in hireStaff
  File "json__init.py", line 293, in load
  File "j

[2020-10-29 19:54] vosje1990 commented on #70
delete laststarted.json in json folder

[2020-10-29 20:08] saulworthy commented on #70
Seems to have fixed thank you

[2020-10-29 20:43] jackbayliss commented on #70
This shouldn’t occur on the premium version anymore- are you a premium user?

[2020-10-29 20:53] jackbayliss commented on #70
Closing, as fixed- this is fixed on sponsor version- so.. I believe you're using an out of date version?

[2020-10-29 20:53] #70 closed

[2020-11-03 10:22] Doki83 opened #71 "The bot doesn't send any ambulances to hospitals"
**Describe the bug**
I have started the bot, it ist functioning good, but it doesn't solve the transport requests. I have to do it every time myself.
Is it normal or a bug?

** Bot version and region **
US Version, 0.1.5

[2020-11-03 10:23] Doki83 commented on #71
I haven't found anything about it in the config.ini

[2020-11-03 10:43] jackbayliss commented on #71
It’ll solve the transports once your batch has been run!

So, at the end of your batch they should get picked up :)

[2020-11-03 15:18] jackbayliss commented on #71
@Doki83

[2020-11-03 15:24] Doki83 commented on #71
Yes, it is funktioning now

[2020-11-03 15:25] #71 closed

[2020-11-04 01:42] Fogest opened #72 "Forestry expansion not found?"
I am getting the following error:
[code]

I am a bit confused what is the problem though. When I look in links.json I see the wildland fire engines. I currently have all type 7 engines for wildland. The links file have the type 7 engine and that type 7 engine (\#32) is in the "wildland fire engines" array. So I am a bit confused what the issue is. Do I need to do something to get this to work?

He

[2020-11-04 02:37] Fogest commented on #72
I just realized I am stupid and was actually using type 4 engines. Is there a reason the type 4 engine wouldn't be on there? I just want to make sure there isn't something I haven't learned about missionchief's forest expansion yet.

[2020-11-04 03:02] BigBearEvo commented on #72
This came up for me, totally random, easy fix, added forestry expansion + unit numbers into the links, done. It's down to not all fire stations having the forestry expansion in that area

[2020-11-04 03:54] Fogest commented on #72
@BigBearEvo Can you give me an example of what you mean to do?

[2020-11-04 06:32] BigBearEvo commented on #72
![image](https://user-images.githubusercontent.com/1572161/98077115-806ca280-1e67-11eb-8cce-028b6280651e.png)

[2020-11-04 06:34] BigBearEvo commented on #72
I have no idea why MC changes its coding or things, i know, i just have to adjust and add what ever it wants to keep it going

[2020-11-04 17:43] Fogest commented on #72
Thanks I wasn't sure if you literally meant to add "forestry expansions" as a vehicle in the file so that clears things up. I have added it now and will have to wait for a forestry expansion mission to see if it resolves it :)

[2020-11-05 18:51] jackbayliss commented on #72
Closing as it seems related to units- anything mentioned that needs to be added to missing / links will be displayed in red. Just copy it until the ',' and then that's your unit you need to add

[2020-11-05 18:51] #72 closed

[2020-11-06 00:22] jackbayliss commented on #53
Closing as I believe we fixed this?

[2020-11-06 00:22] #53 closed

[2020-11-06 00:53] jackbayliss commented on #69
Will fix it this weekend 👍🏻

[2020-11-06 00:54] Fogest commented on #69
Amazing, would love to reenable the mission sharing :).

On Thu., Nov. 5, 2020, 7:53 p.m. Jack, <notifications@github.com> wrote:

[2020-11-06 08:44] BigBearEvo opened #73 "Units not dispatching or loading from Vehicle display limited area"
Bot is not sending units from within range to missions, even though max limits are set - reminder for you jack :)

[2020-11-06 16:49] meyerdominik commented on #53
yes :)

[2020-11-09 00:58] jackbayliss commented on #73
Closing as fairly sure this is working, I presume probably missing a particular unit.

[2020-11-09 00:58] #73 closed

[2020-11-12 01:22] jackbayliss commented on #69
I'm on this, I promise. It'll be in next patch-- just spam me tomorrow so I don't forget 🥇

[2020-11-12 15:26] Fogest commented on #69
Here is spam message number 1 ;)

[2020-11-13 16:18] Doki83 opened #74 "EMS Request only for my hospitals"
Hi!

Is there any possibility to set the following option? I have 8 hospitals and the nearest alliance hospital is 200km away. I want to set, that my ALS Ambulances transport patients only into my hospitals.

Can I do that?

Thx

[2020-11-14 06:53] Fogest commented on #69
Spam #2 incoming ;)

On Wed, Nov 11, 2020 at 8:22 PM Jack <notifications@github.com> wrote:

[2020-11-15 12:53] jackbayliss commented on #74
@Doki83  This should already be the case, it should transport to your hospitals before selecting Alliance ones. Unless you mean, it'll only transport to yours? So that, when you're full it will ignore alliance?

[2020-11-15 12:54] jackbayliss commented on #69
@Fogest  I'm here! After re-looking I believe it's because the Sherriff car was never despatched- so upon failure it just keeps resending. I need to checkout what's happening exactly here so bear with me 🔢

[2020-11-15 13:23] Doki83 commented on #74
Yeah, I mean that, that only into my hospitals.

These are my settings in config.ini:
[GENERAL]
# Just show the players missions, ignore alliance- set true if you want to ignore alliance false will show own missions and alliance.
show_own = true
# Just show alliance missions ignore player missions
just_alliance = false
# The amount of missions to do per execution. It'll only build what you set, so

[2020-11-15 15:55] Fogest commented on #69
Yeah you may be right. I have had more cases where it happens. I come on
and check after having it run for the night and see a huge chunk of my
units on a single call.

It seems to happen when a unit is dispatched but there is an error when
they are dispatched. For example when the vehicle is not staffed with
qualified members. The bot sees the unit and dispatches them and keeps
doing it again and

[2020-11-16 01:36] jackbayliss commented on #69
Hmm, I could set a config option to basically stop missions from being redespatched once initially done. Tbh I remember writing an on scene and on route reader- so it should know not to keep re-sending. I'll have to recheck it.

[2020-11-16 01:44] jackbayliss commented on #74
Yes- it's possible. I will have to create a config option for such option.

[2020-11-16 01:44] #74 closed

[2020-11-16 01:47] Fogest commented on #69
Yeah there are a couple options I think. You could check and ensure the dispatch was successful because it does trigger an error message when you try and dispatch a vehicle that does not meet the requirements. Then maybe you just ignore that mission or try and dispatch the next available unit instead of trying that same one again. I'm not sure if that is too complicated as you would need to track

[2020-11-20 21:33] Fogest commented on #69
I saw in the sponsor update mentioning you're working on only dispatching once to shared alliance missions. I think that the bot should still look at these missions again though because sometimes you have the missing unit clear up and it would be good to fill the mission rather than wait for an alliance member to complete the mission.

[2020-11-20 21:39] jackbayliss commented on #69
@Fogest  I think I just need to check the code for on route and on scene so that whatevers in there is subtracted from the amount required- I just need a way of forcing a mission to check it 👍🏻

[2020-11-20 21:42] Fogest commented on #69
Yeah I think that would work quite well!

I wonder if you could track the mission in memory that you identify as
being shared to alliance and not having all the units? And then you'd be
able to know to keep checking those. But I'm not sure how the bots code
works and if that is doable or not.

On Fri., Nov. 20, 2020, 4:39 p.m. Jack, <notifications@github.com> wrote:

[2020-11-20 21:44] jackbayliss commented on #69
Definitely doable, but not sure how Python handles things in memory over a long period of time- not sure if missionchief re-use the same mission id's after so long too. So, may be easier to have it quickly check each time

[2020-11-20 21:48] Fogest commented on #69
Yeah I guess a lot of unknowns. I assume just some simple array of IDs
shouldn't have a probably staying in memory. I can't see that memory being
cleared from a running program.

But yeah that would definitely have some problems if IDs are reused
especially if they are reused shortly after.

If a quick check though doesn't take too long and doesn't need too huge of
a cool down between those checks

[2020-11-22 17:21] jackbayliss commented on #69
I believe this is sorted in the newest release-- may have to re-open this if not. I created an array to store the missionId and mission type, so that if they're both the same it won't keep re-alerting the alliance despatch. (This issue should occur on auto share mission), re open or drop me a Discord message if it still occurs.

[2020-11-22 17:21] #69 closed

[2020-11-24 00:25] jackbayliss commented on #66
This was patched a long time ago by the way!

[2020-11-24 13:44] mbj047 opened #75 "[Feature Suggestion] - lowest alliance tax"
Hi,
I'd like to suggest the addition the option to set the highest tax allowed for using an alliance building. I rather my units drive a few extra miles for a 10% or 0% tax then pay a 50% tax just because a station is closer.

Great bot thanks

[2020-11-24 18:34] jackbayliss commented on #75
Definitely something to consider, will be implemented into the premium version if I can get it working 🥇

[2020-12-14 08:44] Sketchy28 commented on #60
Sketchy28 im not added to game

[2020-12-27 14:41] JoshuaBilboe96 opened #78 "Suggestion"
** Bot version and region **
Please let us know which region, and which bot version you're using.
UK / 1.
**Additional context**
Is it possible to have the bot automatically shared to the alliance after dispatch the vehicles?

[2021-01-04 10:05] jackbayliss commented on #78
Possible, although I won't be working on new features for awhile. So, expect a delayed release.

[2021-01-04 11:15] JoshuaBilboe96 commented on #78
Thank you

Sent from my iPhone

[2021-01-12 08:21] Sketchy28 opened #79 "Australian Vehicle Update."
I have missing vehicles and it says to add them to missing.json
How can i do this. i have missions come up still it doesnt start them as i believe they are missing. i have used the generator many times.

[2021-01-12 09:22] jackbayliss commented on #79
You'll need to update the list of vehicles in your missing.json.

When you see the error, copy the vehicle name to your missing.json. Then, visit the missionchief website so for example missionchief-australia.com. Visit the /api/vehicles route. When you're there, find the vehicle that matches with the missing text; and look for the vehicle_type of that vehicle. Simply add that to the vehicle, then

[2021-01-12 09:22] #79 closed

[2021-01-25 23:07] jackbayliss commented on #78
This is technically added in the newest upcoming patch - so for now I am closing :)

[2021-01-25 23:07] #78 closed

[2021-01-25 23:10] jackbayliss commented on #68
@Fogest I've finally got round to doing this properly! The newest update is where it'll be when it's released.

Thanks for the idea, and patience 👍🏻

Closing, but feel to reply if I messed something :)

``
# Sets max distance that the vehicles will be despatched from, from the mission , 0 = none
max_dispatch_km = 0
``

This will be set for all missions, so hopefully prevent hour-long drives!

[2021-01-25 23:10] #68 closed

[2021-01-26 00:31] Fogest commented on #68
This is awesome, thanks!

I have taken a small break from the game but will be back to it soon. When I come back I will resub using the website instead of Github.

Out of curiosity what is the best way to handle regenerating missions? On the NA version at least there are a couple new missions added every Monday and it means pretty often the script would break until I ran the generate missions. Is

[2021-01-26 00:38] jackbayliss commented on #68
@Fogest  No problem man, take as long as you need.  Usually yeah cronjob for each week. I'm writing a separate script to auto pull request the new missions so hopefully, it'll just be a case of pulling the repo.

Ideally, I'd just want the bot to auto-update when there are new files, but we're half way there if I can get this auto-update mission script working 👍🏻

[2021-01-31 11:42] Whitchit opened #91 "[Suggestion]"
Do you have the ability to allow us to add custom vehicle categories for dispatch in the bot? It sends all RRVs to Critical Care Missions (UK) but only some of mine are CC trained - in their own category.

[2021-02-14 20:32] jackbayliss commented on #91
Sorry for the late reply! At the moment this isn't implemented, but it could be a good feature. I'll think about it, i just want it to open a can of worms as such.

[2021-02-23 00:02] jackbayliss commented on #75
This is now on my radar @aurochsen