[2021-03-07 07:20] BigBearEvo opened #1 "Restarter / Autoshut down failing"
When using the restarter module, i have the config set to auto shut down after 12 hrs ish, this allows the bot to refresh, claim daily's etc, but it is not not doing this at all anymore. t
it's almost like its ignoring it totally from the config

[2021-03-08 00:22] jackbayliss commented on #1
Due to threading etc it's been changed slightly; that being said it may of changed at which method it restarts at. Let me play with it and get back to you :)

[2021-03-08 00:37] jackbayliss commented on #1
Can confirm there was an issue with it blocking when exiting, it's been fixed and will be in with the next patch 😃

[2021-03-10 20:54] jackbayliss commented on #1
Fixed in the next patch :)

[2021-03-10 20:54] #1 closed

[2021-04-05 15:17] nickstop opened #3 "2021-04-05 17:16:39,745 Issue with JSON file: 575.json please check it."
It always says `2021-04-05 17:16:39,745 Issue with JSON file: 575.json please check it.`

[2021-04-05 15:21] jackbayliss commented on #3
Which region? Have you tried deleting 575.json and re running? I

Sent from my iPhone

[2021-04-05 15:48] jackbayliss commented on #3
@nickstop  Have you tried deleting the json file and letting the bot re-download? Which region is this?

[2021-04-19 12:20] nickstop commented on #3
Now it works

[2021-04-19 12:20] #3 closed

[2021-04-19 12:21] nickstop opened #4 "Bot dispatch all missions"
[code]

This is my config. But it will share every missions. In my opinion it should only share missions between 2500 cr. and 10000 cr.?

[2021-04-19 12:29] jackbayliss commented on #4
The share_all should be false, that will literally share every mission.

:)

[2021-04-20 06:15] nickstop commented on #4
Ok, now it's set to:

# The bot will automatically share EVERY mission it comes across- following the GENERAL settings.
share_all = false
# The min amount of credits a mission must be to be shared
min_share_credit = 2000
# The max amount of credits a mission must be to be shared
max_share_credit = -1

bot it says by each mission that
`2021-04-20 08:13:57,832 Mission did not meet the min_share_cred

[2021-04-20 07:15] jackbayliss commented on #4
Your max share credit shouldn’t be -1, it should be something like 10000 or whatever the max credits you’d like it to share

[2021-04-20 07:27] nickstop commented on #4
thx

[2021-04-20 07:27] #4 closed

[2021-04-26 17:39] nickstop opened #5 "Vehicle IDs"
Could you Post a list of the vehicle ID. I need it for the alliance function. So that i can Send one vehicle to each Mission.

Thank you

[2021-04-26 19:22] jackbayliss commented on #5
You can find them in your json folder, region then links / missing .json. There's no master list sadly - we manually add each vehicle.

Or, just visit [DOMAIN]/api/vehicles and use the vehicle_type property.

[2021-04-26 19:22] #5 closed

[2021-05-19 09:37] DiTechRacer opened #6 "Unable to login on missionchiefbot.com"
hey, i have registered a new account but if i type username and password  and click login i got redirected to the start page and not logged in..

[2021-05-19 18:50] #6 closed

[2021-05-26 18:30] nickstop opened #7 "Vehicle ID's"
Hey, in my missing.json is missing the Rettungstreppen vehicle id and FLF id.

Im from germany de

[2021-05-30 18:05] jackbayliss commented on #7
@nickstop  Hi! You can add them simply by doing "Rettungstreppen" :[ID] and "FLF" : [ID]

You can find the id via /api/vehicle and looking for vehicle_type 👍🏻

[2021-06-08 18:29] tobst96 commented on #7
It's now okay. Can you close.

Habe gerade ein Request gestartet um eine neue Missing.json ein zu spielen. Da wurde vieles optimiert. Wenn da was fehlt, einfach über Discord schreiben. Dann ändere ich es.

[2021-06-08 18:36] #7 closed

[2021-06-23 11:27] kaijehenstra opened #11 "Kubernetes issue waiting for Checking links & missing..."
Image

The container gets stuck on [UPDATE] Checking links & missing... in kubernetes (Digital Ocean) but not in docker.

[2021-06-23 12:04] jackbayliss commented on #11
@kaijehenstra  Hello! Sorry to hear you're having issues. I've confirmed it working on Docker

I will have to run a test on Kubernetes, I can only presume it's some kind of dir issue.  Also, remove the image! It has your username in.

[2021-06-23 12:59] kaijehenstra commented on #11
Image has been made private

[2021-06-23 13:49] kaijehenstra commented on #11
root@missionchief-nl-86566f4b97-bbftj:/Mission-Chief-Bot# pip3 install discord_webhook
Requirement already satisfied: discord_webhook in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: requests>=2.19.1 in /usr/local/lib/python3.8/dist-packages (from discord_webhook) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/lib/python3/di

[2021-06-23 14:08] jackbayliss commented on #11
You need to use python3.9 specifically, use python3.9 -m pip install discord_webhook

[2021-06-23 14:35] jackbayliss commented on #11
@kaijehenstra You need to use python3.9 specifically, use python3.9 -m pip install discord_webhook

[2021-06-23 16:15] kaijehenstra commented on #11
If I use the bash exec of the container it works with your method but if you specify CMD in the docker file and execute the script that way the operation stops (seen in logs) also no action is happening on the website

[2021-06-25 09:14] jackbayliss commented on #11
Hmm, I've only seen this when there's a python version issue or a dir-specific issue.

I will more than likely have to test it to see.

[2021-07-04 19:35] JackViking1 opened #13 "Payed but can't find the discord"
Hey I Pay for the bot aka 1 $ but I can't find your discord or your dashboard under your webside.

[2021-07-04 19:37] jackbayliss commented on #13
GitHub is not a supported method- only method is going via missionchiefbot.com

[2021-07-04 19:39] JackViking1 commented on #13
How do I pay when I can't log in?

[2021-07-04 19:52] jackbayliss commented on #13
You need to register an account - try using different information if you’re having trouble.

[2021-07-08 07:27] #13 closed

[2021-07-19 00:08] NotoriousBims opened #16 "Dual Units"
Units cover multiple requirements, ie quint counts as firetruck and platform truck.

[2021-07-19 00:08] NotoriousBims opened #17 "Translations"
Translations for all regions, depending on the region you select it'll change the language.

[2021-07-19 00:10] NotoriousBims opened #18 "Transports to alliance buildings - lowest tax"
Transport prisoner or patient to alliance building with lowest tax

[2021-07-19 00:14] NotoriousBims opened #19 "Send 1 required unit to own missions and share the call"
Make a setting to send 1 required unit to a mission, and share the call.

Secondary requests -

Have this setting follow all dispatch rules, for example: min/max credit
Have this setting send all required EMS units (including EMS chief if needed)

[2021-07-19 00:14] NotoriousBims opened #20 "Counters/stats"
vehicle counter - Collect stats on missing vehicles ie a counter for the amount of times a certain vehicle is missing.

Mission counter - Collects stats on missions with missing units. Ie the amount of times a mission is skipped or failed due to units not available.

[2021-07-19 00:15] NotoriousBims opened #21 "Fix function for "transport_only_player" as it doesn't always follow the rules."
Transport only player =

True = Only transports to player owned hospitals. If hospitals are full - release patient

False = Transport to player owned hospitals then to alliance hospitals (add function for prioritizing alliance before player owned hospitals?

[2021-07-19 00:17] NotoriousBims opened #22 "Ambulances - limit transports to a hospital that is within a certain distance away from the call"
Example, limit transports to less than 10km, 20km, 50km, 100km, etc..... If hospital is not open within certain distance, release patient.

[2021-07-19 00:18] NotoriousBims opened #23 "Options to share specific missions - details inside"
Have a configurable option to share specific missions, probably based on mission IDs. Maybe a new JSON file to list these IDs similar to the vehicle ignore or mission ignore lists.

Advanced option - be able to share a specific mission plus send 1 unit of a specified type (used to park a unit on the call so you will still receive credits when shared with alliance)

[2021-07-19 00:27] NotoriousBims opened #24 "Automate POIs"

[2021-07-19 00:28] NotoriousBims opened #25 "Automate training of staff."
Maybe preset list or amount of staff per station pre-selected.

[2021-07-19 00:28] NotoriousBims opened #26 "Automate building stations"
gps coordinates or some maps integration.

[2021-07-19 00:29] NotoriousBims opened #27 "Auto Assign Personnel"
Auto assign personnel to units (make sure ones with specialized training are assigned properly).

[2021-07-19 00:29] NotoriousBims opened #28 "Building stats"
- Collect stats on prisions and hospitals to determine usage.

[2021-07-19 00:30] NotoriousBims opened #29 "Pyarmor - Korean support"
View transcript for ticket-0074 in #ticket-archive-log for slightly more info

[2021-07-19 00:31] NotoriousBims opened #30 "Automated patrol routes for units"
Or ability to send units on preset patrol routes.

[2021-07-19 00:31] NotoriousBims opened #31 "Add windows tray icon - run in background"

[2021-07-19 00:32] NotoriousBims opened #32 "Station hire exclusions"
Building ignore list for training. As bot tries to hire for hospitals and other buildings not needed which slows down the process.

[2021-07-19 00:33] NotoriousBims opened #33 "Integration über Python. Token über Config. https://healthchecks.io"
Integration über Python. Token über Config. https://healthchecks.io

[2021-07-19 00:36] NotoriousBims opened #34 "Multiple Vehicle ID's for Alliance mission overwrite"
I would like to suggest that you can specify multiple vehicle IDs for alliance missions. In addition, you should be able to specify whether a maximum of one vehicle is allowed to approach the mission or whether each vehicle is allowed to approach in the specified number

Config example with added features. (maybe it helps to understand what I want to say)

(config.ini)
[code]

(copied from discord

[2021-07-19 00:41] NotoriousBims opened #35 "Config - true/false for file sync on missions and missing/links jsons."

[2021-07-19 00:42] #35 closed

[2021-07-19 11:32] jackbayliss commented on #31
Won't be done, no point

[2021-07-19 11:32] #31 closed

[2021-07-19 11:33] jackbayliss opened #36 "Make the generator more accessible"
There's a lot of jsons for a few regions that need tweaking, I propose we create a system similar to the jsons for words to include and exclude- therefore the generator can be edited remotely and still do its job.

[2021-07-19 15:28] jackbayliss commented on #32
Great idea, let's create a json for this with the building name to exclude.

[2021-07-19 15:29] jackbayliss commented on #24
This is pending feedback

[2021-07-20 08:18] jackbayliss commented on #33
uhhhhhh -- not sure why this is a good feature?

[2021-07-20 15:13] NotoriousBims commented on #33
I think its like a status monitor to check if its running or not. I don't really know honestly. Close the issue so it is taken off the board if you don't want to deal with it.

[2021-07-20 21:53] #33 closed

[2021-07-20 23:06] jackbayliss commented on #36
Done in https://github.com/jackbayliss/mission-chief-bot-jsons/commit/5b283fc12f87fe5fba828f70b8f704ec424cd87f

[2021-07-20 23:06] #36 closed

[2021-07-20 23:28] NotoriousBims commented on #29
Just about finished. Closing issue.

[2021-07-20 23:28] #29 closed

[2021-07-22 20:08] NotoriousBims opened #37 "POIGen - random POIs mode"
Update the POI generator with a new mode.

Mode 1: Place accurate POIs within a certain radius around a building.
Mode 2: Places randomly, 1* of each type of POI within a certain radius around a building.

* = maybe a specified number of POIs

[2021-07-28 17:37] aurochsen opened #38 "bot sleep"
Sleep function when internet connection drops, with resume on reconnect.

[2021-07-29 22:09] NotoriousBims opened #39 "Update Python to latest version"

[2021-08-04 15:17] jackbayliss commented on #39
A great idea, but pyarmor only support up until 3.9 right now!!!

[2021-08-04 15:18] jackbayliss commented on #16
In new beta...

[2021-08-04 15:18] #16 closed

[2021-08-05 16:07] jackbayliss commented on #38
Great idea, might be fairly easy to implement.. Let's find out...

[2021-08-06 14:55] aurochsen opened #41 "linux restarter.py graceful shutdown"
Add a way to terminate restarter.py in linux without having to kill it forcefully. Maybe trap?

[2021-08-06 17:46] jackbayliss commented on #41
Not sure, the restarter is just a poll that watches for it to die then restarts it.

[2021-08-06 21:27] jackbayliss opened #42 "fix alliance order by"
When ordering by alliance missions it would cause an issue, because the user_id is not assigned.

[2021-08-06 22:49] jackbayliss commented on #42
Has been patched in my latest version (not beta yet)

[2021-08-06 22:49] #42 closed

[2021-08-08 22:15] jackbayliss commented on #24
Feedback is good, but I hear people want a random mode.

[2021-08-12 17:59] jaholltzi opened #43 "Where can i find the Discord Link"
Hello,
I where can I find the Discord invitation link?

[2021-08-12 18:07] jackbayliss commented on #43
You must subscribe via the website, and then you’ll see it :)

[2021-08-12 18:13] jaholltzi commented on #43
Ok, is it possible to join the server first and then subscribe to the bot because I would like to ask the user if the bot is good

[2021-08-12 18:19] jackbayliss commented on #43
https://discord.gg/H3VUwCMx

[2021-08-12 18:23] jaholltzi commented on #43
Thanks

[2021-08-12 18:23] #43 closed

[2021-08-20 20:48] jackbayliss commented on #37
Mode 2 is implemented, it will place each type around the radius of the building.

[2021-08-20 20:50] NotoriousBims commented on #37
How many of each type around the radius of the building?

[2021-08-20 21:00] jackbayliss commented on #37
It’s set to 1 of each, but I can make it editable I guess

[2021-08-20 21:01] NotoriousBims commented on #37
That can be a feature for the future. 1 is great for now.

[2021-08-30 23:36] jackbayliss commented on #37
Believe done

[2021-08-30 23:36] #37 closed

[2021-08-30 23:36] #24 closed

[2021-09-01 22:07] jackbayliss commented on #34
Done partly, you can now specify multiple id's like :
`alliance_default_vehicle_id = [1,2]`

[2021-09-01 22:09] jackbayliss commented on #32
This is done, no json needed. Buildings with 0 staff specify such, and those with 0 staff are now auto excluded.

[2021-09-01 22:09] #32 closed

[2021-09-02 01:45] NotoriousBims commented on #34
Alpha test seems to be working very well! Tested with 3 unit IDs.

[2021-11-07 14:15] cybermanxx opened #47 "Auto Recall vehicles when there are only patients to treat"
It would be really helpful in mass patient missions, because fire station and police vehicles usually finish their duty before ambulances. Obiously, this feature wouldn't apply to medical vehicles.

[2021-12-22 09:22] Letswinthis123 opened #48 "Paid but bot telling me I haven't"
So I have the account here on github and have paid for the bot however whenever I load up the bot it tells me I haven't actually paid and am not authorised to use the service?

Help please?

[2021-12-22 09:29] jackbayliss commented on #48
@Letswinthis123  Payment is not via Github, use the website in the description.

[2021-12-22 09:29] #48 closed

[2021-12-24 15:43] Letswinthis123 commented on #48
Cheers but well, the website seems to be having issues for me. Unable to make an account and I have no idea why

[2021-12-24 15:47] jackbayliss commented on #48
Try making a new account with new details

Sent from my iPhone

[2022-01-01 15:06] RBXFFW opened #49 "Missionbot Website"
It's not possible to log in in the Website

[2022-01-01 17:42] NotoriousBims opened #50 "Scheduler - Options for multiple on/off times"
As title states, add options for scheduler for multiple log on/log off times.

[2022-01-01 17:44] NotoriousBims commented on #49
I just tested logging in myself and it works ok. Can you explain further what your issue is?

Better yet, if would be better for you if you joined our discord for the bot. https://discord.gg/6duw38quee

[2022-01-01 17:47] RBXFFW commented on #49
The issue was that I used the nickname and not the email

NotoriousBims ***@***.***> schrieb am Sa. 1. Jan. 2022 um
18:44:

[2022-01-01 17:48] NotoriousBims commented on #49
So you were able to log in ok then?

[2022-01-01 17:49] RBXFFW commented on #49
Yes

NotoriousBims ***@***.***> schrieb am Sa. 1. Jan. 2022 um
18:48:

[2022-01-01 17:50] NotoriousBims commented on #49
Sounds good. If you need any further support, join our discord above.

[2022-01-01 17:50] #49 closed

[2022-01-03 09:40] Keziake opened #51 "ValueError frozen MissionChiefBot"
On the french version, I often get this error, occurs mainly with police & fire vehicles.

One example on MissionId 155:

2022-01-03 10:32:51,741 Found missing vehicles..
`<class 'ValueError'> <frozen MissionChiefBot> 885`

Sometimes I get this one:
2022-01-05 07:15:46,182 Checking Un camion avec une semi-remorque en feu
2022-01-05 07:15:46,601 Found missing vehicles..
`<class 'ValueError'> <froze

[2022-01-05 13:23] jackbayliss commented on #51
@Saxoprane  This is an issue with the FR version, if you DM me on Discord, I will send you the beta that fixes this.

[2022-01-06 14:46] jackbayliss commented on #51
@Keziake Let us know if it works

[2022-01-06 15:07] Keziake commented on #51
@jackbayliss It seems to be working ok now. Running for 5 hours and no errors.
Thanks

[2022-01-09 20:25] NotoriousBims commented on #19
Another secondary request -

Have an option for the bot to finish shared mission within a certain time frame specified

[2022-01-09 20:59] jackbayliss commented on #19
@NotoriousBims  Very reasonable, would this again just be a config option?

[2022-01-09 21:12] NotoriousBims commented on #19
Yup, just another set of configurable options in the config file.

The options would be something like:

Alliance share:
Share own missions and send 1 required unit: true/false
Share own mission min credit: ######
share own mission max credit: #######
Share own mission send required ambulances (ems chief too): true/false
Share own mission time limit: 0-48 hours (bot will close mission inside this

[2022-01-16 19:48] jackbayliss opened #52 "Fix same units appearing as follow ups"
When threading enabled, some units from the same despatch would appear duplicate as a follow up unit.

[2022-01-16 19:59] NotoriousBims commented on #51
Can this be closed pending release of new version?

[2022-01-18 10:46] jackbayliss commented on #51
@NotoriousBims  I don't see why not, it's a specific issue related to FR, it's not 100% fixed - but it works. Perhaps open one in projects to look at FR specifically

[2022-01-20 21:17] jackbayliss commented on #52
Fixed in new version.

[2022-01-20 21:17] #52 closed

[2022-01-23 23:45] NotoriousBims commented on #34
Done

[2022-01-23 23:45] #34 closed

[2022-01-23 23:45] #47 closed

[2022-02-01 00:49] #51 closed

[2022-02-09 20:50] Mattez810 opened #54 "Files automatically deleting themselves."
I'm looking to find assistance on why my files within the bot are automatically deleting... its saying I have to pay for the bot but I've my payment renewal on the 1st of the month and it deleted my files yesterday. Can someone please guide me on where im going wrong?

[2022-02-09 21:45] jackbayliss commented on #54
@Mattez810 this means there's a problem with the payment feel free to email me

[2022-02-10 04:51] Mattez810 commented on #54
Whats your email?

[2022-02-11 12:57] jjs0002 opened #55 "Issue with the payment"
Hello I tried buying the bot on the website and it says the payment was succesful, but nothing happens.

[2022-02-11 13:11] jackbayliss commented on #55
Email me your email etc and I can look and activate it

Sent from my iPhone

[2022-02-11 13:14] jjs0002 commented on #55
Thanks for the fast ReplyMy email is ***@***.*** and the username is jjs.FIY i tired it 2 or 3 times because at first I thougt I put in the wrong CreditCard Information. Gesendet von Mail für Windows Von: JackGesendet: Freitag, 11. Februar 2022 14:11An: jackbayliss/Mission-Chief-BotCc: jjs0002; AuthorBetreff: Re: [jackbayliss/Mission-Chief-Bot] Issue with the payment (Issue #55) Email me your emai

[2022-02-11 13:17] jackbayliss commented on #55
It is now enabled! Try now

Sent from my iPhone

[2022-02-11 13:26] jjs0002 commented on #55
Hmm still doesnt work Gesendet von Mail für Windows Von: JackGesendet: Freitag, 11. Februar 2022 14:17An: jackbayliss/Mission-Chief-BotCc: jjs0002; AuthorBetreff: Re: [jackbayliss/Mission-Chief-Bot] Issue with the payment (Issue #55) It is now enabled! Try now Sent from my iPhone> On 11 Feb 2022, at 13:15, jjs0002 ***@***.***> wrote:> > ﻿> Thanks for the fast ReplyMy email is ***@***.*** and the u

[2022-02-11 13:38] jackbayliss commented on #55
You need to go into the website, click add user then add your username

[2022-02-11 13:42] jjs0002 commented on #55
Yes I get that, but it doesn´t Show up. Gesendet von Mail für Windows Von: JackGesendet: Freitag, 11. Februar 2022 14:38An: jackbayliss/Mission-Chief-BotCc: jjs0002; AuthorBetreff: Re: [jackbayliss/Mission-Chief-Bot] Issue with the payment (Issue #55) You need to go into the website, click add user then add your username—Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifi

[2022-02-11 13:52] jackbayliss commented on #55
Logout and back in?

Sent from my iPhone

[2022-02-11 13:57] jjs0002 commented on #55
Nope. Tried it multiple times now. Tried it also with my mobile. Gesendet von Mail für Windows Von: JackGesendet: Freitag, 11. Februar 2022 14:53An: jackbayliss/Mission-Chief-BotCc: jjs0002; AuthorBetreff: Re: [jackbayliss/Mission-Chief-Bot] Issue with the payment (Issue #55) Logout and back in?Sent from my iPhone> On 11 Feb 2022, at 13:43, jjs0002 ***@***.***> wrote:> > ﻿> Yes I get that, but it

[2022-02-11 14:03] jackbayliss commented on #55
https://discord.gg/UG7KXcrH

[2022-02-11 14:03] #55 closed

[2022-02-12 03:45] spull1s opened #56 "Paid but no access"
Hi, Ive sent the payment but no change on website, so cant access unfortunately

[2022-02-12 07:26] jackbayliss commented on #56
Email me the email you use on the site

Sent from my iPhone

[2022-02-12 08:02] spull1s commented on #56
Hi, its this one im writing from so

***@***.***

Den lör 12 feb. 2022 kl 08:27 skrev Jack ***@***.***>:

[2022-02-12 08:16] jackbayliss commented on #56
Can you email it me? Check on my GitHub. Profile for my email :)

Sent from my iPhone

[2022-02-12 09:17] #56 closed

[2022-02-18 09:37] Wolfwarrior69 opened #57 "Registration problem"
Hello. I paid for a subscription on the website. I have not received access to the discord or confirmation by e-mail that the transaction was successful. Where can I find the option to unsubscribe or verify transaction ?

[2022-02-19 19:25] robloxrainy opened #58 "Registering"
Hello, I can't register on the wesbite, It don't go anywhere when I click on the £1 Subscription

[2022-02-20 20:14] jackbayliss commented on #58
@robloxrainy  You need to register, login- go to dashboard, then pricing- then pay.

[2022-02-20 20:14] #58 closed

[2022-02-21 15:44] jackbayliss commented on #57
@Wolfwarrior69  Did you fix this?

[2022-02-21 16:36] #19 closed

[2022-02-21 22:47] robloxrainy commented on #58
@jackbayliss  I have it don't load it, got a discord that I could show you it on.

[2022-02-21 22:48] jackbayliss commented on #58
@robloxrainy

https://discord.gg/CCNXtA5s

[2022-02-24 16:26] Dudzik93 commented on #57
Hello,
I have the same problem like Wolfwarrior.
I finish of registry, i was paid.
But i do not have any mail and no have a acces to bot.

[2022-02-24 17:43] Dudzik93 commented on #57
@Wolfwarrior69

I have the same problem. Could you tell me how i can repaire it?

[2022-02-24 17:48] jackbayliss commented on #57
@Dudzik93  https://discord.gg/E5hEpHqF
Please email me, I can activate you :)

[2022-02-24 17:48] #57 closed

[2022-02-24 17:53] jackbayliss commented on #57
@Dudzik93  Discord is here : https://discord.gg/urbhGKbr

Please email me if you're having issues

[2022-02-28 16:24] argentinia1 opened #59 "GW-Taucher not used in german version"
Hey there,
i recognized that in german version the TKW (Tauchkraftwagen/vehicle ID 69 - same as GW-Taucher in fire deparments) of the technical aid organization ist not used in water rescue operations. In germany there are several units who can alarm water rescue units. But this one isn't used in the script yet. Please add this to the alarm list. Thanks

[2022-02-28 16:50] jackbayliss commented on #59
@argentinia1  Please join Discord so I can help further : https://discord.gg/H55ra8fR

[2022-02-28 16:50] #59 closed

[2022-03-06 17:02] NotoriousBims opened #60 "Share_own_send_1 Options"
The options would be something like:

Alliance share:
Share own missions and send 1 required unit: true/false
Share own mission min credit: ######
share own mission max credit: #######
Share own mission send required ambulances (ems chief too): true/false
Share own mission time limit: 0-48 hours (bot will close mission inside this time limit by sending rest of missing units)

Optional:
Share overw

[2022-03-06 17:05] NotoriousBims commented on #60
Above comment is referencing original share_own_send_1 option

This issue will be regarding updates to that function when possible.

-Add

Sending EMS chief (US region but make work for other regions too) if patient count is above 10
Mission time limits. Bot will send the rest of the units to complete a shared mission at the end of a set time limit
Unit overwrite: Bot sends a required unit for the

[2022-03-13 12:40] InternetMedicineMan commented on #21
Would love to see this fixed, I had high hopes when I saw the setting last night only to have my hopes dashed this morning when I woke up.

[2022-03-13 20:37] jackbayliss commented on #21
@InternetMedicineMan  I'll take a look into it :) Just need a sample account so I can play with it.

[2022-03-15 20:42] jackbayliss commented on #21
Should have fixed this! Gonna post a link in admin chat for review. DM me if you want to test @InternetMedicineMan

[2022-03-15 20:44] InternetMedicineMan commented on #21
Nice. My hospitals are brimming full right now, and trying to drive 2 hours round trip. Do I just need shut it down, git pull, then restart the script?

[2022-03-15 20:48] jackbayliss commented on #21
@InternetMedicineMan  Not quite! It's a testing build atm, I'll send it on Discord if you're using the Windows version :)

[2022-03-15 20:48] InternetMedicineMan commented on #21
Ah no, was just trying to DM you and couldn't figure it out. I'm using the Linux Docker version. Can't wait to see it though.

[2022-04-01 15:38] thejockel opened #61 "Issue when specific water amount is required"
Hey,
when a mission requires a specific amount of water the bot only add a single vehicle.
Therefore the mission can't complete.

![image](https://user-images.githubusercontent.com/12292135/161294487-cdf7e81a-e456-44d2-a975-db7495e059c5.png)

[code]

THX Jockel

[2022-04-01 15:49] thejockel commented on #61
![image](https://user-images.githubusercontent.com/12292135/161298093-5cce36a8-b23d-4fea-a0e5-dba46787ba62.png)

Here an other example.

[2022-04-01 16:21] jackbayliss commented on #61
You can use the terms.json to fix this, you can remove that entry from the mapper, if you create a ticket via Discord I can walk you through it On 1 Apr 2022 16:49, thejockel ***@***.***> wrote:

Here an other example.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-04-17 15:13] DjBiskas opened #62 "Add User issue"
Hi, i'm having problems with the "add user" function on MCBot. I put the user name and country, but it's stuck. Can you help me?

[2022-04-17 15:20] #61 closed

[2022-04-17 19:39] jackbayliss commented on #62
Try now :)On 17 Apr 2022 16:13, DjBiskas ***@***.***> wrote:
Hi, i'm having problems with the "add user" function on MCBot. I put the user name and country, but it's stuck. Can you help me?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-04-17 21:28] DjBiskas commented on #62
Done. Thnx...

[2022-04-18 20:46] #62 closed

[2022-04-18 20:47] jackbayliss commented on #60
Done

[2022-04-18 20:47] #60 closed

[2022-04-19 12:23] argentinia1 opened #63 "Distinction: Vehicle on site or not during association operations."
Hello all,
I have the problem, when I start the bot every time 1 vehicle is alerted to all bandage operations, no matter if I already have vehicles on site from a previous session or not. Is there already a setting option for this, that only missions without previous participation are approached (star symbol in front of the mission)? Many thanks for the help

[2022-04-24 12:13] thejockel opened #64 "feature-request: PoiGenerator"
Hey @jackbayliss,
it would be awesome, when the PoiGenerator would be able to:

- Remove old POIs
- Add only specific POIs
- Exclude specific POIs from generation

THX

[2022-04-24 20:43] jackbayliss commented on #64
@thejockel  Thanks for the feature request, this should be easy enough to do!

I will look at starting it potentially today.

[2022-04-25 20:06] jackbayliss commented on #64
@thejockel  This is now done! Feel free to PM me on Discord to test it.

[2022-04-28 08:08] jackbayliss commented on #64
Done

[2022-04-29 04:36] athens-networking opened #65 "Issues Registering"
I attempted to register and it says user created but then brings me to the landing page and doesn't log me in when I try to

[2022-04-29 06:26] jackbayliss commented on #65
Notice that the login page asks for emailOn 29 Apr 2022 05:37, athens-networking ***@***.***> wrote:
I attempted to register and it says user created but then brings me to the landing page and doesn't log me in when I try to

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-05-01 10:34] jackbayliss commented on #65
Ensure to login via email, not username.

[2022-05-01 10:34] #65 closed

[2022-05-01 10:35] jackbayliss commented on #63
@argentinia1  Could you try and explain better?

The vehicles need to be status 1 or 2 to be used via the bot.

[2022-05-14 17:54] mlande5 opened #66 "Account Billing"
What the heck is up with continuously having to pay to use the program. The site says once a month but if you look at my account I've been billed multiple times and haven't even done 30 days. Why?

[2022-05-14 17:57] mlande5 commented on #66
Your plan renews on June 14, 2022. Your plan renews on June 12, 2022. Your plan renews on June 4, 2022.

May 14, 2022 | £1.00 | Paid | MissionChiefBot Access
May 12, 2022 | £1.00 | Paid | MissionChiefBot Access
May 4, 2022 | £1.00 | Paid | MissionChiefBot Access
May 14, 2022](https://invoice.stripe.com/i/acct_1G8VSLG4CfxIXOU3/live_YWNjdF8xRzhWU0xHNENmeElYT1UzLF9MZ21mTVBmbVpwa2Vxc25VdDJsM2huaWk0cmV

[2022-05-14 18:02] jackbayliss commented on #66
Sorry you're having issues,This is basically stripes doing- if you email me your email I can take a look for you On 14 May 2022 18:54, mlande5 ***@***.***> wrote:
What the heck is up with continuously having to pay to use the program. The site says once a month but if you look at my account I've been billed multiple times and haven't even done 30 days. Why?

—Reply to this email directly, view it

[2022-05-14 20:02] mlande5 commented on #66
Hi, 
I think maybe I have figured out part of the issue. I received notice that my May 4 account charge was denied. I added a new card to my account. Apparently that didn't make any difference as the default card was the one that had been cancelled because of detected fraud by the bank. 
I just received another notice that my monthly subscription couldn't be completed as the charge was denied even

[2022-05-15 18:22] spull1s opened #67 "Bot stopped sending foam"
re-downloaded files - still not working

[2022-05-15 18:25] #67 closed

[2022-05-15 22:20] jackbayliss commented on #66
@mlande5  That would make sense, I'll let you carry on- any issues let me know.

[2022-05-15 22:20] #66 closed

[2022-06-02 05:13] mlande5 opened #68 "Bot issue"
Starting yesterday, I noticed that the bot has been slow seems like it is hanging.

I've noticed that I see data chunk error messages and another message saying the
Server may have shite itself - issue with data.

I didn't see any updates to the bot or anyone reporting the issue.

Any suggestions?

Thank you

Mike

[2022-06-02 07:41] jackbayliss commented on #68
Hi Mike,This is usually related to internet and the connection between you and the site failing.If you're connected via WiFi I would recommend using a ethernet cable. If it still happens let me know the region 😁On 2 Jun 2022 06:13, mlande5 ***@***.***> wrote:
Starting yesterday, I noticed that the bot has been slow seems like it is hanging.
I've noticed that I see data chunk error messages and ano

[2022-06-02 10:15] mlande5 commented on #68
Hi Jack,

I'm on an Ethernet connection. So, I looked at my connection between my ISP and MissionChiefbot at  104.21.61.226 it's rock solid not a single dropped back in 500 packets sent.

I then looked at my ISP to MissionChief and see the same old problem I've been complaining to MissionChief about their connection between NY and Germany has about a 75% packet lost.  So, its weird as the bot hasn

[2022-06-02 19:58] jackbayliss commented on #68
@mlande It seems from the log there's a connection timeout / error encoding. This to me would suggest there's some kind of issue occuring.

If you ever need to test the bots connection you can visit : [this url](https://missionchiefbot.com/api/region/uk/missionfiles, if you cant see it or get an error there's some kind of connection issue between you and the bot.

[2022-06-02 20:01] jackbayliss commented on #68
Only other suggestion I can suggest is trying it from an alternative location via  VPS etc, if the same occurs I'm happy to take a look further 👍🏻

[2022-06-06 08:11] #68 closed

[2022-06-08 18:37] Bruckii93 opened #70 "multiple payments but no access"
I have paid several times, but have no access. Can you stop these charges? Got it working with a new account.

[2022-06-08 19:51] jackbayliss commented on #70
Please email me the email it's linked to On 8 Jun 2022 19:37, Bruckii93 ***@***.***> wrote:
I have paid several times, but have no access. Can you stop these charges? Got it working with a new account.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-06-09 03:28] Bruckii93 commented on #70
The emailadress of the account is: ***@***.*** thanks for your effort!Am 08.06.22 um 21:51 schrieb Jack

                    Von: "Jack" ***@***.***>Datum: 8. Juni 2022An: "jackbayliss/Mission-Chief-Bot" ***@***.***>Cc: "Bruckii93" ***@***.***>,"Author" ***@***.***>Betreff: Re: [jackbayliss/Mission-Chief-Bot] multiple payments but no access (Issue #70)

Please email me the email it's linked to On

[2022-06-24 09:13] jackbayliss opened #73 "send 1 vehicle in self-created missions through coins"
### Discussed in https://github.com/jackbayliss/Mission-Chief-Bot/discussions/72

<div type='discussions-op-text'>

<sup>Originally posted by **syslap73** June 24, 2022</sup>
I miss a function that also self-created missions (using coins) are approached by association members. I know that there are no specifications as to which vehicles are sent, but there may be the possibility that at least 1 ve

[2022-07-09 22:45] wgheath opened #75 "Syntax Error"
Syntax error showing up in console - not in debug log

2022-07-09 18:33:46,838 Sleeping for 4.146061168271998 seconds
2022-07-09 18:33:50,997 Checking Short Children excursion
<class 'SyntaxError'> <frozen MissionChiefBot> 924
2022-07-09 18:33:51,850 No missing vehicles found..
2022-07-09 18:33:52,062 Requirement warden trucks already met and is either on scene, or on route.
2022-07-09 18:33:52,07

[2022-07-09 23:23] wgheath commented on #75
Additional error received in console - not in debug log

2022-07-09 19:21:05,261 [UPDATE] Hold tight...
caught
<class 'requests.exceptions.ConnectionError'> <frozen MissionChiefBot> 301
2022-07-09 19:21:12,741 Checking for any ambulance transport requests.
2022-07-09 19:21:12,757 0 ambulance transports found

[2022-07-10 09:27] jackbayliss commented on #75
Connection error means there's a network faliure, to try and prevent this ensure you're using an ethernet connection and your timings are possibly increased. I will take a look into the syntax error. On 10 Jul 2022 00:23, wgheath ***@***.***> wrote:
Additional error received in console - not in debug log
2022-07-09 19:21:05,261 [UPDATE] Hold tight...
caught
<class 'requests.exceptions.ConnectionEr

[2022-07-19 23:36] jackbayliss commented on #11
This should be fixed in the latest beta

[2022-07-19 23:36] #11 closed

[2022-07-23 19:57] Aapeli1304 opened #77 "Support for more versions"
Support for Finnish version pls

[2022-07-23 20:24] jackbayliss commented on #77
@Aapeli1304  FL is now supported but I need help with the requirements :)

[2022-07-24 23:05] #77 closed

[2022-07-24 23:48] #75 closed

[2022-07-30 22:38] mlande5 opened #79 "Found Missing Vehicle"
Hi Jack,

Question, I've downloaded the latest version of the Mission Chief Bot. I'm noticing a message that is appearing a lot and causing a lot of my missions to not run.

2022-07-30 15:36:12,161 Found missing vehicle coastal helicopters educated personnel, but can't see it in missing.json add it with the vehicle type and it'll work
2022-07-30 15:36:12,380 Mission Deep Water Search & Rescue miss

[2022-07-31 01:36] NotoriousBims commented on #79
There are multiple entries for items like "coast helicopter" or "Coastal Helicopter" because of their lower/upper case needs and if they are plural or not.

The vehicles arent required to be in the vehiclestats.json file although I will update them shortly.

[2022-07-31 01:38] NotoriousBims commented on #21
Did we fix this? Looking to close this issue if possible.

[2022-07-31 09:04] jackbayliss commented on #79
There shouldn't be a need for uppercase AND lowercase,  the bot casts everything to lowercase. If you have Discord I have a testing version that should fix the `educated personnel` issues.

[2022-07-31 09:06] jackbayliss commented on #21
@NotoriousBims  There was no real fix, but seeing as I've smashed out the new fixes I will look at this today 👍🏻

[2022-08-01 10:16] #79 closed

[2022-08-01 12:41] mlande5 commented on #79
You can use ***@***.***
Thank you
Mike 
    On Monday, August 1, 2022 at 03:16:14 AM PDT, Jack ***@***.***> wrote:

If you have discord or email, reach out to me- I have a new .exe for testing

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-08-02 11:29] jackbayliss commented on #21
Believe this is fixed now, finally.. Please reach out to test. I will close.

[2022-08-02 11:29] #21 closed

[2022-08-03 20:26] Amistar9594 opened #81 "Problem with Dispatching the correct Firetruck Hosetruck"
Hey i got a Problem with the dispatching of Firetrucks in Missions.
I think the Problem is in some Text from the Missing Text.
My Life Logs shows the following:
2022-08-03 22:18:30,475 Mission despatched!
2022-08-03 22:18:30,569 Sleeping for 8.656818560463986 seconds
2022-08-03 22:18:39,241 Checking Großer Feldbrand
**2022-08-03 22:18:40,404 mapper found 'Zusätzlich benötigte Fahrzeuge' and 'l. Wa

[2022-08-07 13:54] Amistar9594 commented on #81
And he did it again... i don't know what he does, but he does not do what he should be doing.

![image](https://user-images.githubusercontent.com/110311007/183294143-931b502a-8073-4cfd-be0c-8941910212ca.png)

![image](https://user-images.githubusercontent.com/110311007/183294098-bba9ebe3-8d25-48ae-8ea0-cfbf7ae0758c.png)

and the only truck dispatched was i "HLF 20" (ID 30 in the vehicle json Regio

[2022-08-08 19:40] jackbayliss commented on #81
This is because the mapper is overwriting the missing text I believe.

[2022-08-12 17:56] NotoriousBims opened #86 "Hire staff with the "automatically" button for stations"
Update the "hire staff" function to be able to select the "Automatically" button when hiring staff for stations. Note - this "automatically" button can only be used when the user is a premium member in-game.

[2022-08-12 18:02] NotoriousBims commented on #63
I believe when the bot restarts, maybe even after the scheduler turns it back on, the bot sends units to like alliance missions where it has already sent 1 unit (to gain credits).

[2022-08-12 18:11] jackbayliss commented on #63
This should only happen on crash technically, I'll look into it to see what I can do On 12 Aug 2022 19:02, NotoriousBims ***@***.***> wrote:
I believe when the bot restarts, maybe even after the scheduler turns it back on, the bot sends units to like alliance missions where it has already sent 1 unit (to gain credits).

—Reply to this email directly, view it on GitHub, or unsubscribe.You are recei

[2022-08-12 19:12] Tangiers2020 commented on #86
Is there anyway of speeding the bot up for hiring staff?
As it can take some time to go through the stations?

[2022-08-12 20:34] jackbayliss commented on #86
Yes On 12 Aug 2022 20:12, Hobbsie ***@***.***> wrote:
Is there anyway of speeding the bot up for hiring staff?
As it can take some time to go through the stations?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-08-13 13:39] jackbayliss commented on #86
Yes, I'll look at speeding it up

[2022-08-15 19:56] jackbayliss commented on #86
Already done, simply set `hire_staff_days` to `automatic`

Will look at increasing speed.

[2022-08-15 19:56] #86 closed

[2022-08-15 19:56] jackbayliss commented on #81
@Amistar9594  Does this still occur in the new beta?

[2022-08-22 11:10] jackbayliss commented on #81
Fixed I believe?

[2022-08-22 11:10] #81 closed

[2022-08-31 09:01] Harlekin7 opened #92 "Stripe does not Support Apple and GPay in Germany it seems"
Currently, it is just Stripe which accepts the majority of cards as well as apple and gpay. I will look into paysafe and paypal perhaps.
If you want to pay via Apple pay you need to use safari on the iphone etc, and Gpay should work if enabled through the browser.

_Originally posted by @jackbayliss in https://github.com/jackbayliss/Mission-Chief-Bot/discussions/91#discussioncomment-3508667_

I li

[2022-08-31 09:02] jackbayliss commented on #92
@Harlekin7  I will look into it :)

[2022-08-31 09:20] Harlekin7 commented on #92
The Problem could be, that GPay in this Case only works as a way to fill out the Credit Card Info...
But i cant test it since i only got my Paypal as a Payment Method in Gpay

[2022-09-02 11:51] jackbayliss commented on #92
@Harlekin7  I've enabled everything possible for payments, hopefully there's something you can use. Do you know why Gpay declined?

[2022-09-06 06:39] Harlekin7 commented on #92
No idea why Gpay Declined, but it works now

[2022-09-06 06:39] #92 closed

[2022-09-06 06:41] Harlekin7 opened #93 "Website Bug - Edit User"
Hey,
I have a 1 Account subscription...

Pressing the "Add User" Button does not work for me...
I tried on Chrome/Edge and Windows/Android

Thanks :)

[2022-09-06 06:50] jackbayliss commented on #93
Try again nowOn 6 Sept 2022 07:42, Harlekin7 ***@***.***> wrote:
Hey,
I have a 1 Account subscription...
Pressing the "Add User" Button does not work for me...
I tried on Chrome/Edge and Windows/Android
Thanks :)

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-09-06 08:15] Harlekin7 commented on #93
Works
Thank you

[2022-09-06 08:15] #93 closed

[2022-09-06 08:50] Tangiers2020 opened #94 "Use Vehicle Name + ID to make them more mission specific"
I think it would be cool to be able to add a vehicle ID + a unique name for mission JSON's.
For example police Detention Van i am using specifically for police inspector's so i edit the JSON's to include a detention Van for that mission however the bot will grab any detention van.
What if i could say use IDxx (whatever the detention van is) + "Police Inspector" (name of vehicle) so it will find an

[2022-09-06 08:51] #94 closed

[2022-09-24 00:30] NotoriousBims opened #96 "Hire staff based on specified dispatch center"
Currently the bot will hire staff across a user's whole account no matter what station. choice for 1, 2, or 3 day hiring. Update bot to add function to only hire staff based on a specified dispatch center instead of hiring in the whole account.

[2022-09-25 15:13] jackbayliss commented on #96
A very good suggestion,

Perhaps I can put a config option something like :
`staff_hire_despatch_station_ids = [111111]`

[2022-09-25 15:17] NotoriousBims commented on #96
Change staff_hire_despatch_station_ids = [111111] to staff_hire_despatch_center_ids = [111111] but yes that should work out great.

Can an option be added to either add multiple dispatch center IDs, or no dispatch center IDs at all to retain the original function of hiring through the whole account?

[2022-09-25 15:22] jackbayliss commented on #96
It should be easy enough, i'm right in thinking the ids would just be a despatch center with all the buildings set to despatch (like the build bot) but it'll just hire for any enabled  building within the despatch center?

[2022-09-25 15:23] NotoriousBims commented on #96
Correct - it will just hire in any station that is assigned to that dispatch center.

[2022-09-28 21:37] devinoff opened #97 "Help on how this works."
So this is paid bot. I want to buy it, but how. And what do I need to link in config.ini, missionchief data or yyour website data?

[2022-09-29 15:26] jackbayliss commented on #97
Quite simple, pay for the bot on the official website. Add your username to the website. Use the config.ini using your mission chief information then off you go.

[2022-09-29 15:26] #97 closed

[2022-10-01 17:22] devinoff opened #98 "Discord link."
Hello, can I please get a link to the discord server?

[2022-10-01 17:35] jackbayliss commented on #98
No, you can get a link by purchasing the bot No link is available anywhere else.On 1 Oct 2022 18:22, devinoff ***@***.***> wrote:
Hello, can I please get a link to the discord server?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-10-01 22:29] #98 closed

[2022-10-02 20:19] NotoriousBims opened #99 "Hiring staff function"
User requested:

1.) Add function to limit how many persons are hired in a station in total. In-game only allows 300 personnel, but using the bot it can hire more.

2.) Blacklist for stations - list for stations where the bot should not be hiring

[2022-10-04 11:07] jackbayliss commented on #99
Option 2 is easy, option 1 I'll need to look into it.

[2022-10-09 15:56] NotoriousBims opened #101 "Vehiclestats.json Sync"
Let's add the vehiclestats.json files to sync to the server just like links/missing.json files.

[2022-10-09 16:53] jackbayliss commented on #101
Great idea

[2022-10-11 09:47] jackbayliss commented on #68
@mlande5  What errors are you getting?

[2022-10-11 23:44] jackbayliss commented on #101
@NotoriousBims  done in latest beta windows release

[2022-10-12 08:22] #101 closed

[2022-10-12 13:21] jackbayliss opened #104 "Move mapper to region folder - have it auto update"
As title suggests, I think this would be a good idea @NotoriousBims - what do you think?

[2022-10-12 13:23] NotoriousBims commented on #104
Yes that's a great idea too. Would be good for quick fixes on stuff.

On Wed, Oct 12, 2022, 6:22 AM Jack ***@***.***> wrote:

--

The information contained in this message may be CONFIDENTIAL and is for
the intended addressee only.  Any unauthorized use, dissemination of the
information, or copying of this message is prohibited.  If you are not the
intended addressee, please notify the sender imme

[2022-10-12 15:30] Steffen398 opened #105 "Water Problem"
Hi, have this Error:
![Screenshot_20221012_172852](https://user-images.githubusercontent.com/115649524/195385212-1d3dbc84-2f8a-40c3-8a29-dbf419beb166.jpg)
Its senden not enough Water

[2022-10-12 15:39] #105 closed

[2022-10-12 15:45] Steffen398 commented on #105
Thanks

[2022-10-12 15:48] Steffen398 commented on #105
Cant create Ticket in Discord, Its failed when i click on Create Ticket

[2022-10-12 15:49] NotoriousBims commented on #105
Go to the welcome channel and click on the region flag you play on. After
that it should allow you to create a ticket.

On Wed, Oct 12, 2022 at 8:48 AM Steffen398 ***@***.***> wrote:

--
[image: facebook] <https://www.facebook.com/MVROP/>
[image: twitter] <https://twitter.com/mvropcte>
[image: instagram] <https://www.instagram.com/mvrop/?ref=badge>
Joshua Finley

Automotive Technology Instructor

[2022-10-16 01:13] #104 closed

[2022-10-16 01:13] #25 closed

[2022-10-16 01:13] #27 closed

[2022-10-16 01:58] NotoriousBims opened #106 "Utilize vehicles with multi-patient treatment/transport capability"
Have the bot recognize the number of patients on a call and properly utilize vehicles like the mass casualty unit or ems mass casualty trailers.

These units/trailers are able to treat/transport multiple patients at a time.

[2022-10-16 03:20] mlande5 opened #107 "Json.decoder error"
continuously seeing <class 'json.decoder.JSONDecodeError'> <frozen MissionChiefBot> 350.

I'm currently running on version 0.5 and have restarted the program. But continue to see the message after UPDATE Checking vehicle state for region...

Thank you

Mike

[2022-10-16 03:21] NotoriousBims commented on #107
Are you using old files and it autoupdated?

If so, please download the new copy and start off fresh. Some files were changed and seem to be causing issues.

[2022-10-16 10:24] #107 closed

[2022-10-16 23:23] Johndoewinks commented on #104
love this ability

[2022-10-23 01:19] Mattez810 opened #109 "Purchased but still "you are not authorized""
I have received the infamous error of "you are not authorized" as I've apparently not paid for the subscription. I have applied to the sub many times but still get the Error. What do i do?

[2022-10-23 17:51] jackbayliss commented on #109
@Mattez810  Let me know your email via email

[2022-10-24 04:22] Mattez810 commented on #109
Emailed!

[2022-10-24 15:13] #109 closed

[2022-10-25 22:06] devinoff opened #110 "On Linux getting error ImportError: libpython3.9.so.1.0: cannot open shared object file: No such file or directory"
Hi, I'm getting this error when trying to launch python script on Ubuntu server.
![Frame 1](https://user-images.githubusercontent.com/96146409/197891070-48d858da-4827-4ddb-97bd-cd97d52781a3.png)

[2022-10-25 22:34] jackbayliss commented on #110
sudo apt-get install libpython3.9 obviously ensure python3.9 is installed

[2022-10-25 22:43] jackbayliss commented on #110
@devinoff

[2022-10-25 23:46] devinoff commented on #110
I did all you said, and now it writes me "Segmentation fault (core dumped)".

[2022-10-25 23:53] jackbayliss commented on #110
@devinoff  where are you installing it? Let me know the specs of the machine and which OS.

If you join the Discord create a ticket and someone will be able to help easier.

(Access that by logging into the portal all paying members have a link to Discord)

[2022-10-26 00:03] devinoff commented on #110
ok, thank you, i'll create a ticket)

[2022-10-27 18:31] A951951 opened #111 "Patient / Prisoner Handoff not dispatching vehicles"
US Version

When Water Rescue missions complete and patients or prisoners are transported, the Patient / Prisoner Handoff missions are created.

Once the Water Rescue vehicles arrive at the Patient / Prisoner Handoff mission, they to not progress any further.  They sit there waiting for Ambulances or Police Cars.

If you manually send the Ambulance or Police Car, the missions will transport the pa

[2022-10-27 23:14] A951951 commented on #111
updated info - when police vehicles are required, the transport is cancelled and the mission clears or updates if ambulances are still required.   Ambulance missions are still hanging with no ambulance dispatches.  I have one mission sitting stalled and will grab a screen shot once it approaches the 24 hour mark.

[2022-10-27 23:31] jackbayliss commented on #111
@A951951 I don't actually play the game, but it's best if you can explain via screenshots. Missions could be stalled for various reasons, depends on the amount of vehicles you have available.  I'll leave this open so you can send screenshots etc, just ensure you exclude any usernames etc that could be used to identify you.

[2022-10-28 10:04] A951951 commented on #111
Thank you, I needed to let a couple of the missions stall again - screen shots follow
![Snapshot_221028055734](https://user-images.githubusercontent.com/116838226/198561293-7313362c-0457-4dd7-87a0-e38ecbc760b8.png)
![Snapshot_221028055858](https://user-images.githubusercontent.com/116838226/198561309-0a56c816-9542-4b8c-ba71-f5444c441d6a.png)

The first screen shot shows the list of stalled mission

[2022-10-31 10:25] MisterBFR commented on #111
Same on the French version
Patient/Prisoner Transfers
there is no mission ID

[2022-10-31 10:33] jackbayliss commented on #111
I believe this is fixed! Please message me in discord On Oct 31, 2022 10:25, MisterBFR ***@***.***> wrote:
Same on the French version
Patient/Prisoner Transfers
there is no mission ID

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you commented.Message ID: ***@***.***>

[2022-10-31 14:02] jackbayliss commented on #111
@A951951  @MisterBFR  If there's no mission id it's generally ignored, in this event what should happen ?

[2022-10-31 16:01] A951951 commented on #111
This is a fix to an issue that was created when they implemented the Water Rescue Missions.   You can't dispatch ambulances to ships and you can't take ships to hospitals, so they created the Patient / Prisoner Handoff Mission.

When you transport the patients or prisoners from a Water Rescue Mission, you are presented with a list of all the Water Rescue Stations, you select one of them.  At this

[2022-10-31 17:46] A951951 commented on #111
Any Desk would be fine.  I will try to stage some scenarios to minimize the amount of time that may be required to see how it is working.  I will drop a note here once I have something.

[2022-11-01 17:56] Feikovandijk opened #112 "Can't seem to login to website to make a purchase"
Hi,
I've just registered my account on the website but every time I try to login it redirects me to the homepage without actually logging me in. Am I doing something wrong?

Cheers,

[2022-11-01 18:01] A951951 commented on #111
I have three missions at the major stop/start points in the process.  One is ready to dispatch, one is ready to transfer patients and prisoners to handoff, and one is patients and prisoners in handoff ready to be transported to prison/hospital.  I have screen shots of the process up to this point as well.  I am available until 5:00pm US eastern time today if that works.  I am not sure how long the

[2022-11-01 23:42] jackbayliss commented on #112
Ensure you're logging in with email and pw, you'll notice dashboard appear in the nav if it's successful On Nov 1, 2022 17:56, Feiko van Dijk ***@***.***> wrote:
Hi,
I've just registered my account on the website but every time I try to login it redirects me to the homepage without actually logging me in. Am I doing something wrong?
Cheers,

—Reply to this email directly, view it on GitHub, or uns

[2022-11-02 09:06] #112 closed

[2022-11-04 10:33] jackbayliss opened #113 "auto updating mission json files"
When a mission is updated, the bot should recognize there's been an update. Each JSON should have a randomized version string which can be checked for discrepancies and updated. There should also be a config option to prevent this if a user has customized jsons or an array of mission ids to ignore for update.

[2022-11-06 12:54] jackbayliss commented on #113
This has now begun

[2022-11-13 13:20] jackbayliss commented on #113
Done

[2022-11-13 13:20] #113 closed

[2022-11-24 17:57] NotoriousBims commented on #111
This is being tested in beta right now. Should be ready hopefully soon.

[2022-11-24 17:59] NotoriousBims opened #114 "Alliance Overwrite Credits min/max"
In regards to the alliance overwrite function, add the ability to specify min/max credits for the bot to dispatch to for alliance overwrites.

[2022-11-25 11:33] A951951 commented on #111
Thank you, I am running the beta version right now, how do I get an the updated beta build to test?

[2022-11-25 15:50] NotoriousBims commented on #111
Join our discord (you can find the link on the dashboard of the missionchiefbot.com website) and open a ticket. I can send it to you there.

[2022-11-28 21:07] jackbayliss commented on #111
@A951951  Can you confirm this works? :)

[2022-11-28 21:15] A951951 commented on #111
as far as I can tell so far today, everything is working very well.  I have not found any dispatches where the arrival times on dispatched vehicles we outside what I would consider normal.  Thank you for this update, and allowing me to test the beta version.

[2022-11-28 22:08] jackbayliss commented on #111
Awesome, great news 👍🏻

[2022-11-30 09:48] #111 closed